* { margin:0; padding:0; list-style:none; font-size:14px; font-family:arial; }

h1 {

	width:1000px;
	margin:20px auto;
}

ul.tabs {

	width:1000px;
	margin:10px auto;
	text-align:right;
}

ul.tabs li { 

	display:inline-block;
	margin:0 10px;	
	cursor:pointer;
}

div.slide { 

	width:1000px;
	margin:0 auto;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}

#sbenu li {
	
	height:250px; 
	background:url(../images/bg.png) no-repeat center;
	background-size:15%;
}

div.title { float:left; width:500px; padding:20px; }

div.title h2 {

	font-size:40px;
	font-family:impact;
	margin-bottom:10px;
	color:#c13333;
	position:relative;
	top:-30px;
	opacity:0;
}

div.title p {

	height:125px;
	line-height:25px;
	position:relative;
	left:-50px;
	opacity:0;
}

div.list { float:left; width:440px; padding:10px; position:relative; }

div.list img { 

	width:120px;
	height:120px;
	border-radius:50%;
	border:1px solid #ddd;
	margin:60px 10px; 
	float:left;
	display:none;
}