/* flip */


*{margin: 0; padding:0;}

li{list-style: none;}

.iphone{width:645px; margin: 50px auto;}

.iphone li{
	position: relative;
	float: left; width: 175px; height:352px; margin: 0 20px; cursor: pointer;
	
	perspective: 500px;
	
}


.face{ position: absolute; width:100%; height:100%; backface-visibility: hidden;}

.face.back{	transform: rotateY(180deg);}

.iphone li .card{ transform-style: preserve-3d; transition: all .4s ease-in-out;}

.iphone li:hover .card{ transform: rotateY(180deg);}

























