* { margin:0; padding:0; list-style:none; font-family:arial; }

a { text-decoration:none; color:#fff; } 

div.header { 

	height:200px; 
	position:relative;
}

h1 {

	text-align:center; 
}

div.nav {

	position:absolute;
	width:100%;
	background-color:#000; 
}

div.nav.fixed {

	position:fixed;
	width:100%;
	top:0;
	background-color:rgba(0,0,0,0.7);
}

div.nav ul { 

	text-align:center; 
}

div.nav ul li {

	display:inline-block; 
}

div.nav ul li a { 

	font-weight:bold;
	width:150px;
	height:60px;
	line-height:60px; 
	text-align:center;
	display:block; 
	font-size:14px;
}

div.nav ul li a.active {

	background-color:rgba(249,47,47,0.8);
}

div.nav div.top { 
	width:80px;
	height:60px;
	background-color:rgba(249,47,47,0.8);
	line-height:60px;
	text-align:center;
	color:#fff;
	font-size:12px; 
	cursor:pointer;
	position:absolute;
	top:0;
	right:0;
}

div.section { 

	height:800px; 
	background-size:cover;
	background-position:center;
}

div#section01 { background-image:url(../images/image01.jpg); }
div#section02 { background-image:url(../images/image02.jpg); }
div#section03 { background-image:url(../images/image03.jpg); }
div#section04 { background-image:url(../images/image04.jpg); }
div#section05 { background-image:url(../images/image05.jpg); }

div.footer { 

	height:500px; 
	text-align:center;
	padding:50px 0;
}