* { margin:0; padding:0; list-style-type:none; font-family:'Merriweather', serif; }

body {

    background-color: #ddd;

}

.container {
    width: 980px;
    margin: 0 auto;
}

h1 {

	text-align:center;
	margin:50px 0;
}

.tabs {
    position: relative;
}

.tabs li {

    background-color: #fff;
    width: 25%;
    float: left;
}

.tabs li h2 {
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    color: #666;
    background-color: #f0f0f0;
    background-image: url(../images/sprite.png);
    background-position: right top;
    background-repeat: no-repeat;
    cursor: pointer;
}

.tabs li h2.open {

    background-position: right bottom;
    background-color: #fff;
    color: #048ffb !important;
}

.tabs li p {
    position: absolute;
    background-color: white;
    padding: 20px;
    left: 0;
    right: 0;

    line-height: 1.5em;
    font-size: 15px;
    color: #999;
}
