* {margin: 0; padding:0;}
html, body{height:100%;}
body{background-image: url(../images/code.jpg); background-size: cover; background-repeat: no-repeat;}
/*body::-webkit-scrollbar{display: none;}*/
body{height: 7160px; background: #790d46; font-family: "Raleway",Arial,Helvetica,sans-serif; font-weight: 700; }
input{outline-style: none;}
textarea{outline-style: none;}
img {border: 0;}

a {text-decoration: none;}
li{list-style: none;}
/*common*/
.container{padding-top:48px;}
/*header*/
/*
.header.active{ background-color: transparent;box-shadow:none;}
.header{position: fixed; top:0%; left: 0%; right: 0;  background-color:#fff; box-shadow:0 6px 12px rgba(0,0,0,.175);z-index: 100; }
.header .inner{ position:relative; left: 50%; margin-left: -480px; width: 960px; height: 80px; }
.header .logo {color: #ffd000; font-size: 36px; float: left; line-height: 80px;}
*/

/*움직이는 박스*/
.section {opacity: 1; }
.bloc{ width:100%; height:100%;}
.bloc .bloc1, .bloc2, .bloc3, .bloc4, .borderlineX , .borderlineY{ position: fixed; width:100%; transform-origin: top left; transition: all .4s ease; height:100%;}
.bloc1 {background-color:#fff; z-index: 32;}
.bloc2 {background-color:#69093e; visibility: hidden; z-index: 30;}
.bloc3 { background-color:#69093e;  visibility: hidden; z-index: 28;}
.bloc4 { background-color:#790d46; visibility: hidden; z-index: 27;}

/*박스 안의 텍스트*/
.bloc .sentence{width:350px;  padding: 30px; transition: all .4s ease; opacity: 0;}
.bloc1 .sentence{position: absolute; right: 0; bottom: 0; text-align: right;letter-spacing: -0.05em;font-size: 3rem;}
.bloc2 .sentence{position: absolute; right: 0; top: 0; color: #fff; text-align: right;}
.bloc3 .sentence{position: absolute; left: 0; top: 0;}
.bloc4 .sentence {position: absolute; left: 0;  bottom: 60px;  opacity: 0;}
/*박스지우개*/
.section .eraser {position: fixed; left: 0; top: 0;  width:100%; background-color:#fff; z-index: 50; width:100%; height:100%; transform-origin: top right; transform: rotate(-30deg)translate(0%,-210%)scale(1.5);transition: all .4s ease; opacity: 0; }


/*bloc1- background video*/

.video {display: table; width:100%;height:100vh;padding:100px;background-image:url(../images/background-06.jpg);background-repeat:  no-repeat;background-size:  cover;background-position:  center right;box-sizing: border-box;}
.video_inner{display:table-cell;vertical-align: middle;}
.video img{width:50%;}
.video p{width:65%;margin-top:30px;color:#fff;}
.video button{display: block; width: 200px;margin-top:30px; margin-left: 0px; border: 2px solid #790d46; box-shadow:inset 0px 0px 0px 190px #790d46; color: #fff; text-align: center; line-height:50px; transition : all .4s ease; cursor: pointer;}
.video button:hover{background-color:transparent;border:2px solid #790d46; color: #fff; box-shadow:inset 0px 0px 0px 0px #790d46;}
/*bloc1- arrow*/
.arrow {position: absolute; top: 75%; left: 50%; margin-left: -48px; color:#ffb000; text-align: center; animation: arrowMove 1s linear infinite alternate running; transform: translate(0px,-40px);}
.arrow i{width:48px; height:48px; padding:20px; font-size:36px; line-height: 18px;}
.arrow span{font-size:20px; color:#fff;}

/*scrollBtn*/
.scrollBtn { position:absolute; left: 50%; top: 50%; z-index: 100; width:420px; height:54px; margin-left: -210px; margin-top: -27px; opacity: 1; }
.scrollBtn:after {content:""; display: block; clear: both;}
.scrollBtn div{float: left; display: block; width: 200px;  text-align: center; line-height:50px; transition : all .4s ease; cursor: pointer; }
.move1 {float: left; margin-right: 12px; margin-bottom: 0px; border: 2px solid #fff; color: #fff; box-shadow:inset 0px 0px 0px 0px #fff; }
.move1:hover {border: 2px solid #fff;  box-shadow:inset 0px 0px 0px 190px #fff; color: #000;}
.move2 {float: right; border: 2px solid #790d46; box-shadow:inset 0px 0px 0px 190px #790d46; color: #fff; margin-left: 0px;}
.move2:hover {border: 2px solid #790d46; color: #fff; box-shadow:inset 0px 0px 0px 0px #790d46; }

/*skill*/
.skills { position: absolute; top: 5000px;  width: 100%; height: 2050px; z-index: 52; transition: all .4s ease;  z-index: 49; overflow: hidden;}
.skills:after{content:"";display:block;clear:both;}
.skills .inner{ position:relative; top: 0px; width: 980px; height: 1980px;  margin: 0 auto;}
.skills .skill.code {height: 380px; width: 960px; margin-left: 10px; margin-top: 0; background-image: url(../images/gastro-theme-05-911x683.jpg); background-size: cover;}
.skills .skill.code .mask{background-color: #e4e4e4;}
.skills .skill.code h2{font-size: 18px; line-height: 70px;}
.skills .skill{ position: absolute; float: left; margin: 10px; font-size: 14px;  text-align: center; background-color: #fff; /*border: 1px solid #e4e4e4;*/ transition: all .4s ease; overflow: hidden; }

.skills .skill a{width: 100%; height: 100%;}
.skills .skill .mask{position: absolute; left:0; width:100%; height:70px; padding:10px;overflow: hidden; background: #ffb000; box-sizing: border-box;transition: all .4s ease;}
.skills .skill .mask h3{color: #fff; font-size:18px; line-height: 24px; height:24px;}
.skills .skill .mask h3 span{color:rgba(255,255,255,.7); font-size:14px; ;}
.skills .skill .mask p{color: #fff; font-size:13px;}
.skills .skill .mask a{color: #ffb000; padding: 5px; background-color: #fff;}

.skills .skill .box{  height: 100%; padding: 20px; margin: 20px;}
.skill .box i{font-size:48px; color: #ffb000; margin: 10px 0; }
.skill .box img{height: 48px;  margin: 10px 0; }
.skill .box p{margin: 5px; color: #666; }

/*img Description*/
.skills .skill .mask{ bottom: -70px;}
.skills .skill img.portfolio {position: absolute; top: 0%; left: 0;  width: 100%; transition: all .4s ease; cursor: pointer; }
.skills .skill:hover img.portfolio{top: -70px; }
.skills .skill:hover .mask{ bottom: 0px;}
/*vertical 세로정렬*/
.skills .skill.vertical{display: table;}
.skills .skill .box {vertical-align:middle; display:table-cell; text-align:center;}
/*skill 이동전 위치*/
.skills .skill1{ width: 570px; height: 290px; top: 390px; left: -100%; background-image:url(../images/gastro-theme-04-911x683.jpg);background-repeat:  no-repeat;background-size:  cover;background-position:  center right;}
.skills .skill2{ width: 370px; height: 290px; top: 390px; right:-100%; background-image:url(../images/background-30-911x683.jpg);background-repeat:  no-repeat;background-size:  cover;background-position:  center right;}
.skills .skill3{ width: 370px; height: 390px; top: 700px; left:-100%; background-image:url(../images/gastro-theme-46-768x1152.jpg);background-repeat:  no-repeat;background-size:  cover;background-position:  center right;}
.skills .skill4{ width: 570px; height: 190px; top: 700px;  right:-100%; background-image:url(../images/gastro-theme-48-768x1152.jpg);background-repeat:  no-repeat;background-size:  cover;background-position:  center right;}
.skills .skill5{ width: 370px; height: 190px; top: 1110px; left:-100%; background-image:url(../images/gastro-theme-49-768x512.jpg);background-repeat:  no-repeat;background-size:  cover;background-position:  center right;}
.skills .skill6{ width: 570px; height: 390px; top: 910px;  right:-100%; background-image:url(../images/gastro-theme-50-768x1151.jpg);background-repeat:  no-repeat;background-size:  cover;background-position:  center right;}
.skills .skill7{ width: 570px; height: 390px; top: 1320px; left:-100%; background-image:url(../images/gastro-theme-51-768x1152.jpg);background-repeat:  no-repeat;background-size:  cover;background-position:  center right;}
.skills .skill8{ width: 370px; height: 190px; top: 1320px;  right:-100%; background-image:url(../images/gastro-theme-57-768x1024.jpg);background-repeat:  no-repeat;background-size:  cover;background-position:  center right;}
.skills .skill9{ width: 570px; height: 190px; top: 1730px; left:-100%; background-image:url(../images/gastro-theme-54-768x1024.jpg);background-repeat:  no-repeat;background-size:  cover;background-position:  center right;}
.skills .skill10{ width: 370px; height: 390px; top: 1530px;  right:-100%; background-image:url(../images/gastro-theme-56-768x1024.jpg);background-repeat:  no-repeat;background-size:  cover;background-position:  center right;}

.skill8 img{background-color: #333; height: 100%;}
.skills .skill9{background-color: #333;}
.skills .skill9 img.portfolio{ width: 300px; padding-left: 135px; padding-top: 0;}
.skill p.mark {color: #FF4081; margin-top: 10px;}
.skill p.mark span {color: #ffb000; }

/*footer*/
#footer{position: absolute; top:7050px; left: 0; right: 0;  padding:90px 8%; text-align:left;color:#fff; background-color:#000;}
#footer .f_row{padding:30px 0;border-bottom:1px solid rgba(255,255,255,.3);}
#footer .f_row:after{content: "";display:block;clear: both;}
#footer .f_row:last-of-type{padding:30px 0 0;border-bottom:none;}
#footer .f_col{float:left;width:25%;}
#footer .f_col:first-of-type{width:50%;}
#footer .left{float:left;}
#footer .left i{margin-right:1.6rem;}
#footer .right{float:right;letter-spacing: 1.4px;font-size: 12px;font-weight: 400;}
#footer .big{color:#f8c12e;font-size:3.2rem;}
#footer table{width:100%;}
#footer td{text-transform: uppercase;}
#footer td, p{padding:6px 0px;color:#cdcdcd;font-weight: 100;font-size: .9rem;}

#footer .f_name{margin-bottom:10px;color:#fff;letter-spacing: 0.1em;font-size: 1rem;font-weight: bold;}
/*top- 맨위로올라가기*/
.top{position: fixed;right: 30px; bottom: 30px;  background-color: rgba(0,0,0,.3); width: 50px; height: 50px; border-radius: 50%; line-height: 50px; text-align: center; font-size: 24px; color: #fff; cursor: pointer; z-index: 100; display: block;}

/*bloc1 애니메이션*/
@keyframes arrowMove{
	0%{ transform: translate(0px,-40px); }
	100%{ transform: translate(0px,-10px);}
}

/*뷰포트 너비가 768px 이상 ‘그리고’ 1024px 이하이면 실행*/
@media screen and (min-width : 768px) and (max-width:1024px){ 
    body{height: 7110px;}
    .header .inner{margin-left: -374px; width: 748px; height: 80px; }
    .skills{height: 2000px}
    .skills .inner{width: 769px;}
    .skills .skill.code {width: 749px; height: 300px; }
    .skills .skill1{ width: 400px; height: 290px; top: 310px;}
    .skills .skill2{ width: 329px; height: 290px; top: 310px;}
    .skills .skill3{ width: 329px; height: 390px; top: 620px;}
    .skills .skill4{ width: 400px; height: 190px; top: 620px;}
    .skills .skill5{ width: 329px; height: 190px; top: 1030px;}
    .skills .skill6{ width: 400px; height: 390px; top: 830px;}
    .skills .skill7{ width: 329px; height: 390px; top: 1240px;}
    .skills .skill8{ width: 400px; height: 190px; top: 1240px;}
    .skills .skill9{ width: 329px; height: 190px; top: 1650px;}
    .skills .skill10{ width: 400px; height: 390px; top: 1450px;}
    .skills .skill9 img.portfolio{ width: 299px; padding-left: 15px; padding-top: 0;}
    .top{display: block;}
    #footer{top:7000px; height: 80px;}
}

/*뷰포트 너비가 480px 이상 ‘그리고’ 768px 이하이면 실행*/
@media screen and (min-width : 480px) and (max-width:767px){
    body{height: 7110px;}
    .header .inner{margin-left: -230px; width: 460px; height: 80px; }
    .video {padding:30px;}
    .video_inner{vertical-align: top;}
    .video img{width:100%;}
    .video p{width:100%;}
    .video button{width:100%;}
    .skills{height: 1900px}
    .skills .inner{width: 480px;}
    .skills .skill.code {width: 460px; height: 280px;}
    .skills .skill1{ width: 260px; height: 290px; top: 290px;}
    .skills .skill2{ width: 180px; height: 290px; top: 290px;}
    .skills .skill3{ width: 180px; height: 390px; top: 600px;}
    .skills .skill4{ width: 260px; height: 190px; top: 600px;}
    .skills .skill5{ width: 180px; height: 190px; top: 1010px;}
    .skills .skill6{ width: 260px; height: 390px; top: 810px;}
    .skills .skill7{ width: 180px; height: 390px; top: 1220px;}
    .skills .skill8{ width: 260px; height: 190px; top: 1220px;}
    .skills .skill9{ width: 180px; height: 190px; top: 1630px;}
    .skills .skill10{ width: 260px; height: 390px; top: 1430px;}
    .skills .skill9 img.portfolio{ width: 170px; padding-left: 5px; padding-top: 35px;}
    .top{display: none;}
     #footer{top:7000px; height: 80px;}
}

/*뷰포트 너비가 479px 이하이면 실행*/
@media screen and (max-width : 479px){
    body{height: 7710px;}
    .header .inner{margin-left: -150px; width: 300px; height: 80px; }
    
    .video {position:relative;padding:100px 30px;}
    .video_inner{vertical-align: top;}
    .video img{width:100%;}
    .video p{width:100%;}
    .video button{position:absolute;right:30px;bottom:30px;left:30px;width:calc(100% - 60px);}
    
    .skills{height: 2600px; }
    .skills .inner{width: 320px; }
    .skills .box{font-size: 12px;}
    .skills .box{margin: 10px; left: 0; right: 0;}
    
    .skills .skill.code {width: 300px; height: 200px;}
    .skills .skill1{ width: 300px; height: 200px; top: 210px; left: 0%; right:0%;}
    .skills .skill2{ width: 300px; height: 200px; top: 458px; left: 0%; right:0%;}
    .skills .skill3{ width: 300px; height: 200px; top: 680px; left: 0%;right:0%;}
    .skills .skill4{ width: 300px; height: 200px; top: 931px; left: 0%; right:0%;}
    .skills .skill5{ width: 300px; height: 200px; top: 1153px; left: 0%;right:0%;}
    .skills .skill6{ width: 300px; height: 200px; top: 1375px; left: 0%; right:0%;}
    .skills .skill7{ width: 300px; height: 200px; top: 1644px; left: 0%;right:0%;}
    .skills .skill8{ width: 300px; height: 200px; top: 1890px; left: 0%; right:0%;}
    .skills .skill9{ width: 300px; height: 200px; top: 2112px; left: 0%;right:0%;}
    .skills .skill10{ width: 300px; height: 200px; top: 2334px; left: 0%; right:0%;}
    .skills .skill9 img.portfolio{ width: 290px; padding-left: 5px; padding-top: 0;}
    .top{display: none;}
    #footer{top:7600px; height: 80px;}    
}

@media screen and (orientation:portrait){
    .borderlineX { background-color:#790d46; transform: rotate(-35deg) translate(-110%,-33%); z-index: 31;}
    .borderlineY { background-color:#790d46; transform: rotate(-35deg) translate(-126%,67%);z-index: 29;}
}
@media screen and (orientation:landscape){
    .borderlineX { background-color:#790d46; transform: rotate(-30deg) translate(-70%,-3%); z-index: 31;}
    .borderlineY { background-color:#790d46; transform: rotate(-30deg) translate(-69%,97%);z-index: 29;}
}
