* { margin:0; padding:0; }

#logo {

	width: 300px;
	height: 100px;
	background-image: url(../images/logo.png);
	margin:50px auto;
}

#simpson {

	position: absolute;
	bottom: 0;
	left: 50%;

	width: 300px;
	margin-left: -150px;
}

#simpson #face {

	width: 300px;
	height: 200px;

	background-image: url(../images/face.png);


}

#simpson #body {

	width: 300px;
	height: 150px;

	background-image: url(../images/body.png);
}

#simpson #leg {

	width: 300px;
	height: 150px;

	background-image: url(../images/leg.png);
	background-position: bottom;
}

#control {

	overflow:hidden;

	width: 180px;
	height: 180px;

	margin: 40px;
	border-radius: 100%;

	background-color: #d6423e;
}

#control a {
	
	display: block;

	width: 180px;
	height: 25px;

	margin: 20px 0;

	background-image: url(../images/arrow.png);
	background-repeat: no-repeat;
	background-position: top center;
	
	opacity: 0.8;
}

#control a:hover {

	opacity: 1;
}

#control a#arr-bottom {

	background-position: bottom center;
}

#control #height {

	width: 150px;
	height: 50px;

	line-height: 50px;
	margin: 0 auto;
	border-radius: 20px;

	background-color: #fff;
	color: #d4433b;
	font-size: 30px;
	font-family: 'georgia';

	text-align: center;
} 

