*{margin: 0; padding: 0; font-size: 12px;}
body{background-color: #eee;}
input{outline-style: none; border: none; transition: all .4s ease;}
input:focus{outline-style: none; border: none; transition: all .4s ease;}
a {text-decoration: none; }
li{list-style: none; }
button{outline-style: none; }

/*공통*/
.register-wrapper lable, .select  p, .gender p{ 
    margin: 0px 15px; 
    font-weight: normal; 
    transition: all .4s ease;
}
.select , .gender{
    padding: 20px 0px 35px; 
    position: relative; 
    margin-bottom: 15px; 
    border-bottom: 1px solid #eee; 
    transform: all .4s ease; 
}

/*전체*/
.register{
    width: 480px; 
    color: #888; 
    margin: 30px auto 100px; 
    border: 1px solid #ccc; 
    padding: 30px 20px; 
    background-color: #fff;
}
.register h1{
    font-size: 30px;  
    line-height: 48px; 
    color: #333; 
    text-align: center; 
    margin-bottom: 50px; 
}

/*입력창*/
.register-wrapper {
    padding: 10px 0px;
}
.register-wrapper input:not([type=checkbox]){
    width: 100%; 
    padding: 15px;
    box-sizing: border-box; 
    margin-top: 5px; 
    border-bottom: 1px solid #eee; 
}
.register-wrapper input:focus{ 
    border-color:#9b26af;
}
.register-wrapper input:after{ 
    border-color:red;
}

.register .err {
    margin-left: 15px; 
    color: red; 
    padding-top: 5px; 
    font-size: 10px;
}

/*성별*/
.gender div{
    position: relative; top: -28px; left: 66px; 
    width: 120px;
    float: left; 
    margin-right: 20px; 
    border: 1px solid #eee; 
    text-align: center; 
    padding: 12px 0; 
    cursor: pointer;
}

/*생일*/
.select ul {
    width: 120px; height:35px; 
    position: absolute;  
    display: inline-block; 
    border: 1px solid #eee; 
    margin: 10px 5px; 
    overflow: hidden; 
    transition: all .4s ease; 
} 
.select ul{
    top: 0; left: 60px;
}
.select ul.month{
    left: 200px;
}
.select ul.day{
    left: 340px;
}
.select li{
    padding: 10px 15px 10px 0px; 
    width:100% ;
    position: relative; 
    cursor: pointer; 
    text-align: center; 
    transition: all .4s ease; 
    background-color: #fff; 
    color: #ccc; 
    box-sizing: border-box; 
}
.select li:last-child{
    border: none;
}
.select li:hover {
    background-color: #eee;
}
.select li i {
    position: absolute; right: 15px; top: 12.5px; 
}

/*가입/취소 버튼*/
.button{
    text-align: center; 
}
button{ 
    padding: 15px 40px; 
    margin-top: 30px; 
    border: none; 
    cursor: pointer;
}
button:nth-child(1){ 
    background-color: #68efad; 
    color: #306F50; 
}
button:nth-child(2){ 
    background-color: #eee;  
}

/*기능*/
/*입력창*/
lable.active, p.active {color: #9b26af;}
/*생일*/
.select ul.on{z-index: 100;}
.select li.active{color: #666; }
.select.active{border-color: #9b26af;}
/*성별*/
.gender div.active{border-color: #9b26af; color: #9b26af; }
.gender.active{border-color: #9b26af; }
