* { margin:0; padding:0; list-style:none; font-size:12px; }

a { color:#fff; text-decoration:none; }

body { background-image:url(../images/bg.jpg); }

h1 { text-align:center; margin:30px 0; }

div.bar { width:1000px; height:40px; line-height:40px; margin:0px auto; background-color:#e58998; border-radius:5px; }
div.bar a { padding-left:20px; }
div.bar a:hover { text-decoration:underline; }

ul { text-align:center; width:1000px; margin:30px auto; }
ul li { display:inline-block; width:140px; height:140px; margin:0 6px; border:5px solid #fff; border-radius:5px; cursor:pointer; }
ul li:hover { border-color:#e58998; }
ul li img { width:100%; }

ul.fashion { display:none; }

div.zoom { width:1000px; height:600px; background-color:#fff; margin:0 auto; text-align:center; border-radius:5px; }
div.zoom img { width:600px; }