*{margin: 0; padding: 0;}

.icon{
	/* 중앙정렬 */
	width:128px; height:128px;
	position: absolute; top: 50%; left: 50%;
	transform: translate(-50%,-50%);
/* 기능구현 */
	opacity: 0;
	animation:icon 3s linear 1s;
	
}

/* 기능구현 */
@keyframes icon{
	from{opacity: 1;}
	to{opacity: 1;}	
}

body{ animation: background 4s linear 5s; animation-fill-mode: forwards;}

@keyframes background{ 100%{background: #000; }
}

.title{color:#fff; text-align: center; margin: 40px 0 15px; font-size: 24px; font-weight: bole;}

.text{ text-align: center; color: #6bf;}

.phone{ text-align: center; margin-top: 30px;}

/* 기능구현 */

body{overflow: hidden;}

.title{opacity: 0;	animation: title 2s ease 9s;	animation-fill-mode: forwards;}
.text{opacity:0; animation: text 2s ease 10s; animation-fill-mode: forwards;}
.phone{opacity:0; animation: phone 2s ease 12s; animation-fill-mode: forwards;}

@keyframes title{
	0%{transform:translateY(-50px); opacity:0;}
	100%{transform:translateY(0px); opacity: 1;}
}

@keyframes text{
	0%{transform:translateX(-100px); opacity:0;}
	100%{transform:translateX(0px); opacity: 1;}
	
}

@keyframes phone{
	0%{transform:translateY(50px); opacity:0;}
	100%{transform:translateY(0px); opacity: 1;}
}