* { margin:0; padding:0; list-style:none; font-size:12px; font-family:arial; }

div.container { width:100%; }

div.header { height:160px; background-image:url(../images/bg.jpg); background-size:cover; background-position:center; border-bottom:1px solid #ddd; }
div.header div.profile { width:80px; height:80px; margin:0 auto; position:relative; top:100px; border:2px solid #fff; }

div.human { background-color:#e6eeff; overflow:hidden; display:none; }
div.human ul { margin-top:40px; }
div.human ul li { width:50%; float:left; height:50px; text-align:center; font-weight:bold; color:#555; }
div.human ul li.img { height:90px; }
div.human ul li.img img { border:2px solid #fff; }

div.info { height:120px; text-align:center; line-height:20px; padding:0 30px; }
div.info h1 { font-size:18px; margin:40px 0 20px 0; }

div.movie { height:100px; background-color:#f1f1f1; }
div.movie ul li { float:left; width:33.3%; height:70px; text-align:center; line-height:20px; padding-top:30px; }
div.movie ul li h2 { font-size:18px; }
div.movie ul li p { font-weight:bold; color:#555; }
div.movie ul li.center { background-color:#e6e6e6; }

div.section { border-bottom:1px solid #eee; padding:0 20px; position:relative; }
div.list { font-weight:bold; color:#555; height:45px; line-height:45px; }
div.count { width:40px; height:20px; border-radius:20px; position:absolute; top:12px; right:20px; float:right; text-align:center; line-height:20px; font-weight:bold; color:#fff; }
div.count.red { background-color:#db7d7d; }
div.count.green { background-color:#5baf7f; }
div.count.yellow { background-color:#e1bf74; }
div.count.blue { background-color:#74a8e1; }

div.life { height:50px; text-align:center; line-height:50px; font-size:18px; font-weight:bold; margin-top:30px; border-bottom:1px solid #eee; }

div.section { overflow:hidden; height:44px; }
div.section.active { height:auto; background-color:#f1f1f1; }
div.section div.list { color:#555; }
div.section ul { margin:5px 0; }
div.section ul li { height:30px; padding-left:10px; }
div.section ul li a { color:#555; text-decoration:none; }

div.photo h2 { text-align:center; margin:50px 0 15px 0; font-size:18px; }
div.photo img { width:100%; display:block; margin-top:10px; }

div.footer { height:60px; background-color:#242424; margin-top:10px; }
div.footer div.who { float:left; color:#fff; height:60px; line-height:60px; padding:0 20px; }
div.footer div.logo { float:right; width:60px; height:60px; background-color:#c13333; color:#fff; font-size:30px; text-align:center; line-height:60px; }