*{margin:0;padding:0; border:0;}
.inner{width:1064px;margin:0 auto;}

.header{width:100%;height:110px;padding:35px 35px 18px;box-sizing:border-box;}
.header:after{content:"";display:block;clear:both;}
.header .logo{float:left;}
.header .menu{float:right;}
.header ul, .header li{list-style: none;}
.header ul {}
.header ul:after{content:"";display:block;clear:both;}
.header li{float:left;position:relative;}
.header li:after{content:"";display:block;position:absolute;top:0;left:50%;width:6px;height:6px;margin-left:-3px;background-color:#ffffff;border:2px solid #024687;border-radius:50%;}
.header li:before{content:"";display: block;position:absolute;top:4px;left:0;right:0;height:1px;background-image: url("../images/header/bg.jpg");}
.header li a{display:block;padding:23px;color:#666666;text-decoration: none;font-weight:bold;}


.container{}

/*main*/
.container .visual img{display:block;}
.container .m_title img{display:block;}
.container .box_wrap{background-color:#024687;}
.container .box_wrap:after{content:"";display:block;clear:both;}
.container .box_wrap .box{float:left;}
.container .box_wrap .box a{display: block;}
.container .box_wrap .box img{display:block;}


/*sub_03*/
.lecture_title{}
.lecture_title .img{}

/* photo_gallery*/
.photo_gallery{}
.photo_gallery:after{content:"";display:block;clear:both;}
.photo_gallery .side{width:370px;}

.photo_gallery .list{}
.photo_gallery ul, .photo_gallery li{list-style: none;}
.photo_gallery ul:after{content:"";display:block;clear:both;}
.photo_gallery li{float:left;width:180px;height:38px;margin-right:10px;margin-bottom:16px;}
.photo_gallery li:nth-child(even) {margin-right:0;margin-bottom:0;}
.photo_gallery li a{display:block;position:relative;padding:10px 41px 10px 0;background-color:#666666;color:#ffffff;text-decoration: none;text-align:center;}
.photo_gallery li a:before{content:"";display:block;position:absolute;top:0;right:0;width:41px;height:100%;background-color:#999999;}
.photo_gallery .photo_btn{width:177px;height:54px;margin:0 auto;clear:both;}
.photo_gallery .photo_btn img{display: block;}


.footer {background-color:#e6e6e6;}
.footer .inner{padding:46px 30px;box-sizing:border-box;}
.footer .cooperator{overflow: hidden;}
.footer .cooperator img{display: block;float:left;margin-right:7px;}
.footer .cooperator img:last-child{margin-right:0;}

.footer .address{margin-top:36px;text-align:center;color:#666666;font-size:12px;}
.footer .address p{margin-bottom:10px;}
.footer .address p:last-child{margin-bottom:0px;}
