@charset utf-8;
@import url('https://fonts.googleapis.com/css?family=Orbitron');

/*base*/
* {margin: 0;padding: 0;border: 0;}
body{position: fixed;width: 100%;height: 100%;background-color: #111;font-family: font-family: 'Orbitron', sans-serif;}
ul,ol {list-style: none;}
a {text-decoration: none;color: inherit;}
h1,h2,h3,h4 {margin: 0;}

/*layout*/
div#wrap {position: fixed;width: 100%;height: 100%;min-width: 1024px;min-height: 768px;perspective: 900px;}

/*버튼 디자인*/
.btn {position: fixed;top: 50px;left: 40px;width: 40px;height: 70px;font-size: 40px;color: #fff;display: block;text-align: center;z-index: 4;}


/*nav 디자인*/
.nav {position: fixed;width: 150px;height: 100%;background-color: #eee;z-index: 2;}
.nav h1 {position: absolute;width: 100px;top: 80px;left: 50%;margin-left: -50px;}
.nav h1 img{width: 100%;height: auto;}
.nav #gnb {position: absolute;top: 35%;left: 0;width: 100%;}
.nav #gnb>li a {display: block;width: 100%;color: #000;text-align: center;font-size: 20px;line-height: 3em;}
.nav #gnb>li a:hover {color: #fff;background-color: #000;}
.nav {transform-origin: left center;transform: rotateY(120deg);transition: all .5s ease .2s;opacity: 0;}
.nav.on {transform: rotateY(15deg);opacity: 1;}

/*section base*/
.section {position: fixed;width: 100%;height: 100%;background-color: #111;z-index: 1;transform-origin: right center;transition: all .5s ease;}
.section.on {transform: rotateY(-10deg);}

/*div 전환효과*/
.section>div {position: absolute;width: 100%;height: 100%;z-index: 1; opacity: 0;perspective: 700px;transition: all 1.5s ease;}
.section>div.on {z-index: 2;opacity: 1;}
.section>div>div {text-align: center;overflow: hidden;transform: rotateY(180deg);transition: all 1.5s;}
.section>div.on>div {transform: rotateY(0deg);border-right:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;box-sizing:border-box;}

/* 1depth */
.box1>div {height: 25%; float: left;background-size:cover;background-position:center center;}
.box1>div:nth-child(1) {width: 50%;background-image:url(../images/item_s_01.jpg);}
.box1>div:nth-child(2) {width: 25%;background-image:url(../images/item_s_02.jpg);}
.box1>div:nth-child(3) {width: 25%;background-image:url(../images/item_s_03.jpg);}

.box1>div:nth-child(4) {width: 25%;background-image:url(../images/item_s_04.jpg);}
.box1>div:nth-child(5) {width: 25%;background-image:url(../images/item_s_05.jpg);}
.box1>div:nth-child(6) {width: 50%;height: 50%;background-image:url(../images/item_s_06.jpg);}
.box1>div:nth-child(7) {width: 25%;background-image:url(../images/item_s_07.jpg);position: absolute;left: 0%;top: 50%;}
.box1>div:nth-child(8) {width: 25%;background-image:url(../images/item_s_08.jpg);position: absolute;left: 25%;top: 50%;}

.box1>div:nth-child(9) {width: 25%;background-image:url(../images/item_s_09.jpg);}
.box1>div:nth-child(10) {width: 50%;background-image:url(../images/item_s_10.jpg);}
.box1>div:nth-child(11) {width: 25%;background-image:url(../images/item_s_11.png);background-color:#6a839d;}

/* 2depth */
.box2>div {height: 25%; float: left; background-size:cover;background-position:center center;}
.box2>div:nth-child(1) {width: 25%; background-image:url(../images/item_s_01.jpg);}
.box2>div:nth-child(2) {width: 25%;background-image:url(../images/item_s_02.jpg);}
.box2>div:nth-child(3) {width: 50%;background-image:url(../images/item_s_03.jpg);}

.box2>div:nth-child(4) {width: 25%;height: 50%; background-image:url(../images/item_s_04.jpg);}
.box2>div:nth-child(5) {width: 50%;height: 50%; background-image:url(../images/item_s_05.jpg);}
.box2>div:nth-child(6) {width: 25%;height: 50%; background-image:url(../images/item_s_06.jpg);}
.box2>div:nth-child(7) {width: 25%;background-image:url(../images/item_s_07.jpg);}
.box2>div:nth-child(8) {width: 25%;background-image:url(../images/item_s_08.jpg);}

.box2>div:nth-child(9) {width: 25%;background-image:url(../images/item_s_09.jpg);}
.box2>div:nth-child(10) {width: 25%;background-image:url(../images/item_s_10.jpg);}

/* 3depth */
.box3>div {height: 25%; float: left;background-size:cover;background-position:center center;}
.box3>div:nth-child(1) {width: 50%;height: 100%;background-image:url(../images/item_s_10.jpg);}

.box3>div:nth-child(2) {width: 25%;background-image:url(../images/item_s_04.jpg);}
.box3>div:nth-child(3) {width: 25%;background-image:url(../images/item_s_05.jpg);}
.box3>div:nth-child(4) {width: 50%;background-image:url(../images/item_s_06.jpg);}

.box3>div:nth-child(5) {width: 25%;height: 50%;background-image:url(../images/item_s_07.jpg);}
.box3>div:nth-child(6) {width: 25%;background-image:url(../images/item_s_08.jpg);}
.box3>div:nth-child(7) {width: 25%;background-image:url(../images/item_s_09.jpg);}









