* { margin:0; padding:0; }

h1 {

	margin-top:150px;
	text-align:center;	
}

div.slide {

	text-align:center;
	margin:50px 0;
}

div.slide img { 

	display:inline-block;
	opacity:0.5;
}

div.slide img.big {

	width:200px; 
	opacity:1;
	margin:0 20px;
}

ul {

	text-align:center;
}

li {

	display:inline-block;
	background-color:#c13333; 
	color:#fff;
	padding:5px 10px;
	margin:0 5px;
	border-radius:5px; 
	cursor:pointer;
}