* { margin:0; padding:0; list-style:none; }

body {

    background-color: #999;
}

.wrapper {

    width: 1000px;
    margin: 50px auto 0;
    background-color: #ddd;
    padding: 20px;
    border-radius: 40px;
}

h1 {

    text-align:center;
    margin:30px 0;
    position:relative;
    top:-100px;
    opacity:0;
}

ul.gnb {
    
    height: 300px;
}

ul.gnb li {

    float: left;
    cursor: pointer;
    width: 200px;
    height: 250px;
    position: relative;
    display: none;
}

ul.gnb li img {
    
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -75px;
    margin-top: -87px;
    width: 150px;
    height: 175px;
}

ul.gnb li img.hover {

    margin-left: -100px;
    margin-top: -125px;
    width: 200px;
    height: 250px;
}
div.contents {

    background-color: #fff;
    position: relative;
    border-radius: 20px;
    border: 1px solid white;
}

div.contents div.arrow {

    width: 200px;
    height: 30px;
    position: absolute;
    top: -30px;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}

div.contents div.title {

    margin: 20px;
    height: 80px;
    overflow: hidden;
}

div.contents div.title ul.list {

    position: relative;
}

div.contents div.title ul.list li {

    height: 80px; 
    font-size: 70px;
    font-family: impact;
}

div.contents div.title ul.list li:nth-child(1) { color: #ec4623; }
div.contents div.title ul.list li:nth-child(2) { color: #00afdb; }
div.contents div.title ul.list li:nth-child(3) { color: #999999; }
div.contents div.title ul.list li:nth-child(4) { color: #f6c110; }
div.contents div.title ul.list li:nth-child(5) { color: #85b416; }

div.contents ul.desc {

   margin: 30px;
   color: #999;
   line-height: 1.5;
}

div.contents ul.desc li {

    margin-bottom: 20px;
}
