<div class="visual">
    <div class="inner">
        <img src="template/images/main_img.jpg" alt="">
    </div>
</div>
<div class="inner">
    <div class="m_title"><img src="template/images/main_img2.jpg" alt=""></div>
    <div class="box_wrap">
        <div class="box"><a href="#"><img src="template/images/main_img3_01.jpg" alt=""></a></div>
        <div class="box"><a href="#"><img src="template/images/main_img3_02.jpg" alt=""></a></div>
        <div class="box"><a href="#"><img src="template/images/main_img3_03.jpg" alt=""></a></div>

    </div>
</div>