*{margin: 0; padding: 0;}

/* 실습 */

.container{width:1175px; margin: 0 auto;}
.iphone{ width:175px; height:352px; margin: 100px 30px 0px;; float: left; cursor: pointer; 
		position: relative; 
}

.front{position: absolute; top:0; left:0; z-index: 1000; transition:all .5s ease;}
.back{position: absolute; top:0; left:0; transition:all .5s ease;}


.iphone1{animation: upimg 1s ease; }
.iphone2{animation: upimg 1s ease .3s; }
.iphone3{animation: upimg 1s ease .6s;}
.iphone4{animation: upimg 1s ease .9s;}
.iphone5{animation: upimg 1s ease 1.2s;}
.iphone{opacity: 0; animation-fill-mode: forwards;}

@keyframes upimg{
	
	0%{transform: translateY(50px); opacity: 0;}
	100%{transform: translateY(0px); opacity: 1;}
	
}

.iphone:hover .front{transform:translateX(-35px);}
.iphone:hover .back{transform:translateX(35px);}

