*{margin: 0;padding: 0;font-size:16px;}
html,body{font-family: verdana;background-color:#262626;}
ul,li{list-style: none;}
.center{position: absolute;top:50%;left:50%;color:#fff;transform:translate(-50%,-50%);}
.center ul{text-align: center;}
.center li{display: inline-block;font-size: 6rem;font-weight:bold;letter-spacing: 10px;text-transform: uppercase; filter:blur(1px);}
.center ul:hover li{animation:smoke 2s linear forwards;}
@keyframes smoke{
    0%{
        transform: rotate(0deg) translateY(0px);
        opacity: 1;
        filter:blur(1px);
    }
    100%{
        transform: rotate(45deg) translateY(-200px);
        opacity: 0;
        filter: blur(20px);
    }
}

.center ul li:nth-child(1){animation-delay: 0s;}
.center ul li:nth-child(2){animation-delay: .4s;}
.center ul li:nth-child(3){animation-delay: .8s;}
.center ul li:nth-child(4){animation-delay: 1.2s;}
.center ul li:nth-child(5){animation-delay: 1.6s;}
