* { margin:0; padding:0; list-style:none; }

h1 { 

  text-align:center; 
  margin:50px auto 10px; 
  color:#333;
  font-size:36px; 
  font-family:impact;
  font-weight:normal;
  position:relative;
}

p { text-align:center; font-size:14px; color:#777; font-family:"Times New Roman"; }

ul.nell { width:1020px; margin:50px auto; }

ul.nell li {

  float:left;
  position:relative;
  width:300px; height:300px; 
  margin:0 20px; 
  cursor:pointer;
}

ul.nell li img { border-radius:10px; }

div.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

div.face.back {
  transform: rotateY(180deg);
}

ul.nell li > div { transform-style: preserve-3d; transition: all 0.5s ease-in-out; }

ul.nell li:hover > div {
 
  transform:rotateY(180deg);
  background-color:#fff;
}

ul.nell li { -webkit-perspective:1000; }

ul.nell li:nth-child(1) > div { -webkit-animation:album 0.6s linear; }
ul.nell li:nth-child(2) > div { -webkit-animation:album 0.6s linear 0.3s; }
ul.nell li:nth-child(3) > div { -webkit-animation:album 0.6s linear 0.6s; }

@-webkit-keyframes album {

  0% { transform:rotateY(0deg); }
  100% { transform:rotateY(360deg);}
}