* { margin:0; padding:0; list-style:none; font-family: arial; }

body { background-color: #222; color: #666; }

a {

    text-decoration: none;
    color: #666;
}

.wrapper {

    width: 960px;
    margin: 0 auto;
}

#header {

    height: 100px;
    line-height: 100px;
}

#header #logo {

    display: block;

    height: 75px;
    border-bottom: 2px solid #666;

    letter-spacing: 8px;
    font-size: 38px;
    font-weight: bold;

    transition: color 1s;
}

#header #logo:hover {

    color: #fff;
}

#section-wrapper {

    height: 500px;
    position: relative;
}

#section li {

    width: 33.3%;
    height: 500px;
    padding: 30px;
    box-sizing: border-box;

    float: left;

    opacity: 0.5;
    cursor: pointer;
    background-position: center;

    transition: width 0.5s, opacity 1s;
}

#section:hover li {

    width: 25%;
}

#section li:hover {

    width: 50%;
    opacity: 1;
}

#section li.cake1 { background-image: url(../images/cake01.jpg); }
#section li.cake2 { background-image: url(../images/cake02.jpg); }
#section li.cake3 { background-image: url(../images/cake03.jpg); }

#section li div {
    
   	position: relative; 
		top: 280px;

    overflow: hidden;

    background-color: rgba( 0,0,0,0.8 );
}
   
#section li div h3 {

    height: 50px;
    line-height: 50px;
    text-indent: 20px;

    transition: color 2s;
}

#section li div p {
    
    width: 400px;
    padding: 0px 20px 20px 20px;
}

#section li:hover h3 {

    color: #ffb400;
}

#about {

    position: absolute;
    left: 0;
    top: 0;

    height: 100%;
    padding: 30px;
    box-sizing: border-box;

    background-image: url(../images/bg.jpg);

    transform: perspective(1000px) rotateX(-180deg);
    transform-origin: top;
    backface-visibility: hidden;
}

#about:target {
   
    transition: transform 2s linear;
   
    transform: perspective(1000px) rotateX(0deg);
}

#about {

    transition: transform 2s linear;
}

#about a.close-btn {

    display: block;

    position: absolute;
    right: 50px;
    top: 50px;

    width: 50px;
    height: 50px;

    text-indent: -9999px;
    background-image: url(../images/close-btn.png);
}

#about #about-inner {

    background-color: rgba( 0,0,0,0.8);
}

#about #about-inner h1 {

    color: #ffc600;
    height: 90px;
    line-height: 90px; 
    text-align: center;
}

#about #about-inner p {
    
    padding: 0 30px 30px 30px;  
    line-height: 25px;
}