
*{margin:0;padding:0;font-size:16px;color:#666;}

html,body {font-family: sans-serif;}
input[type=checkbox]{cursor:pointer;}
input,textarea{/* outline-style: none; */ border: none; transition: all .4s ease;}
input:focus,textarea:focus{/* outline-style: none; */ border: none; transition: all .4s ease;}
li{list-style: none; }
button{outline-style: none;border:0;cursor:pointer; background:#aaa;}
ol, ul { list-style:none;}
a { text-decoration: none; color: #111;font-size:16px;}
table{width:100%;border-collapse:collapse;table-layout:fixed;text-align:center;}
thead{background-color:#f5f5f5;}
th{padding:0 3px;font-size:14px;color:#333;}
td{font-size:14px;color:#666;}
th,td{border:1px solid #a9a9a9;}
td{padding:3px 5px;}
table .name{width:100px;}
table select{display:block;width:100%;height:24px;font-size:14px;}
table option{}
table button.graph{float:inherit;width:48px;margin:0;padding:0;background-color:#3449a7;border-radius:3px;line-height:24px;font-size:14px;color:#fff;}
/*common*/
.page{position:relative;top:0;right:0;left:0;padding:.5rem;height:48px;background-color:#f5f5f5;border-bottom:1px solid #aaa;text-align: center;box-sizing: border-box;}
.page a{position: relative;display:inline-block;padding:6px 20px;background-image:linear-gradient(#fff, #f1f1f1);border:1px solid #e4e4e4;border-radius:20px;color:#222;text-decoration:none;font-size:.9rem;}
.page a.on{background-image: linear-gradient(#f1f1f1, #e4e4e4);}
.page a:active{top:1px;right:-1px;}
.page .close{position:absolute;top:0;right:0;background-image:none;border:none;line-height: 36px;}
.page .close i{color:#444;}
/*.page + .open{display: none; position:absolute;top:0;right:50px;padding:6px 16px;background-color: #f5f5f5;border:1px solid #aaa;border-top:none;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;font-size:0.9rem;z-index: 10;cursor:pointer;}*/
.page + .open{display: none;position:absolute;top:120px;right:0;width:14px;padding:16px 10px;background-color:#fff;border:1px solid #aaa;border-right:none;border-top-left-radius:10px;border-bottom-left-radius:10px;font-size: 0.9rem;z-index: 10;cursor: pointer;word-break: break-all;text-align: center;box-shadow: 0 0 4px 1px rgba(0,0,0,.1);}


.left{float:left;}
.right{float:right;}
.center{width:fit-content;margin:0 auto;}
.border_0{border:none !important;}
.submit_data_btn{display:block;margin:30px auto;padding:10px 30px;border-radius:3px;background-color:#142c94;color:#fff;}

.wrap{}
.inner{width:1200px;margin:0 auto;}
/*header 시작*/
.header{background-color:#fff;/*border-bottom:1px solid #ccc;*/}
/*.header .inner{border-bottom:1px solid #ededed;}
.header .inner:last-child{border-bottom:none;}*/
.header>*{border-bottom:1px solid #ededed}
.header .inner:after{content:"";display:block;clear:both;}
/*.header .logo , .header .lnb{box-shadow:0px 3px 3px rgba(0,0,0,.1);}*/
.header .logo{float:left;padding:0 10px;color:#fff;font-weight:bold;line-height:60px;}
.header .logo h1{color:#fff;}
.header .gnb{float:right;}
/*.header .gnb>ul>li>a>i{margin-right:5px;}*/
.header .gnb>ul{position:relative;}
.header .gnb>ul:after{content:"";display:block;clear:both;}
.header .gnb>ul>li{display:block;float:left;position:relative;padding:0px 10px;font-size:12px;line-height:30px;cursor:pointer;}
.header .gnb>ul>li:after{content:"";display:block;height:10px;position:absolute;top:50%;right:0;margin-top:-5px;border-right:1px solid #222;line-height:24px;}
.header .gnb>ul>li:last-child:after{display:none;}
.login .login_box {display:none;position:absolute;top:100%;left:50%;width:260px;margin-left:-172px;padding:20px;background-color:#fff;border:1px solid #dadada;z-index:10;box-shadow:0px 3px 3px 2px rgba(0,0,0,.1);}
.login .login_box:before{content:"";display:block;position:absolute;left:160px;bottom:100%;border:11px solid transparent;border-bottom-color:#ccc;}
.login .login_box:after{content:"";display:block;position:absolute;left:161px;bottom:100%;border:10px solid transparent;border-bottom-color:#fff;}
.login .login_box h2 i{float:right;font-size:26px;cursor:pointer;}
.login .login_box .list_field{margin:20px 0 15px;border:1px solid #dadada;}
.login .login_box li{border-top:1px dashed #dadada;}
.login .login_box li:first-child{border:none;}
.login .login_box .login_field {width:100%;height:40px;padding:0 14px;border:0;color:#666;box-sizing:border-box;}
.login .login_box button{width:100%;margin:0;background-color:#333;border:1px solid #dbdbdb;border-radius:3px;color:#fff;/*line-height:36px;*/}
/*login 버튼 기능*/
.login.active .login_box{display:block;}

.header .lnb_wrap{background-color:#051144e8;/* box-shadow:0px 1px 3px 1px rgba(0,0,0,.03); */}
.header .lnb{float:right;border-bottom:none;box-sizing:border-box;/*border-top-left-radius:5px;border-top-right-radius:5px;*/}
.header .lnb ul{}
.header .lnb li{cursor:pointer;}
.header .lnb ul:after{content:"";display:block;clear:both;}
.header .lnb .depth1{position:relative;}
.header .lnb .depth1>li{float:left;}
.header .lnb .depth1>li:hover{}

.header .lnb .depth1>li>a {display:block;position:relative;margin:0px;padding:16px 10px;border-top: 4px solid transparent;border-bottom: 4px solid transparent;font-weight:bold;text-align:center;color: #ffffff;font-size: 16px;transition: 0.3s ease;}
/* .header .lnb .depth1>li>a:after{content:"";display:block;position:absolute;top:50%;right:0;left:0;height:10px;margin-top:-5px;border-right:1px solid #ccc;} */
.header .lnb .depth1>li:last-child>a:after , .header .lnb .depth1>li:hover>a:after{display:none;}

/*.header .lnb .deptih1>li:first-child>a{border-top-left-radius:5px;}
.header .lnb .deptih1>li:last-child>a{border-top-right-radius:5px;}*/
.header .lnb .depth1>li:hover>a{padding:6px 10px;margin:10px 0;border-top: 4px solid #ffffff;border-bottom: 4px solid #ffffff;}


.header .lnb .depth2{display:none;position:absolute;top:100%;background-color:#fff;border:1px solid #ddd;border-radius:3px;}
.header .lnb .depth2:before{content:"";display:block;position:absolute;left:59px;bottom:100%;border:11px solid transparent;border-bottom-color:#ccc;}
.header .lnb .depth2:after{content:"";display:block;position:absolute;left:60px;bottom:100%;border:10px solid transparent;border-bottom-color:#fff;}
.header .lnb .depth2>li{float:left;}
.header .lnb .depth2>li>a{position:relative;display:block;padding:0 10px;font-size:14px;color:#666;line-height:30px;}
.header .lnb .depth2>li>a:hover{color:#111c2f;font-weight:bold;}
.header .lnb .depth2>li>a:after{content:"";display:block;height:10px;position:absolute;top:50%;right:0;margin-top:-5px;border-right:1px solid #ccc;line-height:24px;}
.header .lnb .depth2>li:last-child>a:after{display:none;}
.header .lnb .depth1>li:hover>.depth2{display:block;}
.route{clear:both;font-size:14px;line-height:30px;}

.container {min-height:600px;background-color:#fff;clear:both;}
.container .up{position:absolute;top:50px;right:0;left:0;margin-top:-50px;padding-bottom:100px;background-color:#fff;}
.container .up .bar{position:relative;right:0;left:0;}
.container .up .week_list,.container .up .graph{position:absolute;right:0;left:0;padding:0 10px;}
.container .up .table{margin-top:65px;padding:15px 10px 10px 10px;}
.container .up button{margin-right:10px;}
.container .inner.up{position:static;padding:0;background-color:transparent;}
.container .inner.up .week_list, .container .inner.up .graph{position:relative;}
.container .up .week_list{padding:0;}
.container .rel{position:relative;}
.container .inner.up .table{margin-top:0;padding:15px 0 0 0;}
.container .inner.up button{margin-right:0;}
.container .notification.inner{margin:0 auto;}
.container .banner{height:140px;background-color:rgba(0,0,0,.1);}
.container .banner h2{font-size:26px;line-height:90px;text-align:center;color:#222;}
.container button{float:right;margin-top:10px;padding:10px 20px;background-color:#1e2c69;border-radius:3px;font-weight:bold;color:#fff;}
/*메인화면*/
.notification:after{content:"";display:block;clear:both;}
.notification .banner{float:left;width:55%;height:800px;background-color:#fff;}
.shortcut{float:right;width:45%;height:800px;}
.shortcut .link{float:left;position:relative;width:50%;}
.shortcut .link div{overflow:hidden;position:relative;height:266.66px;padding:90px;background-size:contain;background-repeat:no-repeat;background-position:center;box-sizing:border-box;}
.shortcut .link div:hover:after{content:"";display:block;position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(0,0,0,.7);}
.shortcut .link div:nth-child(1){background-color:red;}
.shortcut .link div:nth-child(2){background-color:orange;}
.shortcut .link div:nth-child(3){background-color:yellow;}
.shortcut .link div:nth-child(4){position:absolute;bottom:0;left:100%;width:100%;background-color:green;}
.shortcut .link div p{text-align:center;color:#fff;line-height:28px;}
.shortcut .link div ul{display:block;position:absolute;top:200px;right:0;bottom:0;left:0;margin-top:70px;transition:all .4s ease;z-index:1;}
.shortcut .link div:hover ul{margin-top:0;}
.shortcut .link ul:after{content:"";display:block;clear:both;}
.shortcut .link li{float:left;width:calc(100% - 86.66px);height:66.66px;padding:0 10px;background-color:#fff;text-align:center;line-height:66.66px;color:#222;}
.shortcut .link ul li:last-child{float:right;width:66.66px;padding:0;background-color:#222;border:none;font-size:48px;color:#fff;cursor:pointer;}
.notice {float:left;width:50%;}
.notice .title{margin:0px 15px;border:none;background-color:#fff;border-bottom:2px solid red;color:red;text-align:left;line-height:48px;font-size:18px;text-transform:uppercase;}
.notice .content {display:block;position:static;height:485px;padding:10px 15px;background-color:#fff;border:none;}
.notice .content div{border-bottom:1px solid #ccc;}
.notice .content .notice_title{position:relative;padding-left:12px;font-weight:bold;color:#222;}
.notice .content .notice_title:after{content:"";position:absolute;top:50%;left:0;margin-top:-6px;border:6px solid transparent;border-left-color:red;}
.notice .content .notice_date{text-align:right;font-size:13px;}

/*slider*/
.slider {position:relative;}
.s_images{overflow:hidden;position:relative;width:100%;height:800px; }
.s_img{float:left;height: 800px;background-position:center;background-size:cover;text-align:center;line-height:230px;font-size:72px;}
.bxslider .s_img:nth-child(2){background-color:#999;}
.bxslider .s_img:nth-child(3){background-color:#777;}
.bxslider .s_img:nth-child(4){background-color:#555;}
.bxslider .s_img:nth-child(5){background-color:#333;}
.bx-wrapper{overflow:hidden;}
.bx-controls{position:absolute;top:0;right:0;bottom:0;left:0;z-index:10;}
.bx-pager {float:left;position:absolute;bottom:30px;left:50%;margin-left:-38px;}
.bx-pager:after{content:"";display:block;clear:both;}
.bx-pager-item{float:left;}
.bx-pager-item a{display:block;width:18px; height:18px;margin:0 5px;background-color:yellow;border-radius:50%;cursor:pointer;box-sizing:border-box;}
.bx-pager-item a.active{background-color:red;}
.bx-controls-direction {float:left;position:absolute;top:0;left:50%;width:100%; height:800px;z-index:-1;transform:translateX(-50%);}
.bx-controls-direction a{position:absolute;top:50%;width:60px;height:60px;margin-top:-30px;text-align:center;}
.bx-controls-direction a i{cursor:pointer;line-height:60px;font-size:60px;color:#e4e4e4;transition:all .4s ease;}
.bx-controls-direction a i:hover{color:yellowgreen;}
.bx-prev {left:0;}
.bx-next{right:0;}
.bx-controls-auto{display:none;}



/*tap*/
.filter_bar{float:left;position: relative;width:100%;/*background-color: #fff;*/}
.filter_bar>div:first-child , .filter_bar>div:first-child{ border-left: 1px solid #777;}
.tab_full .tab{float: left;box-sizing:border-box;}
.title{padding: 0px 15px;border-top: 1px solid #777;border-right: 1px solid #777;background-color: rgba(0,0,0,.2);font-size: 12px;font-weight:bold;text-align:center;line-height:49px;color:#fff;cursor:pointer;box-sizing:border-box;}
.title.active{background-color:#fff;color: darkgreen;}
.content{display: none;position: absolute;top:65px; left: 0; right: 0;box-sizing: border-box;font-size:14px; line-height:30px; }
.content.bg_none{top:50px;background:/*transparent*/#fff;padding:0 0 100px 0;border:none;}
.title.active +.content{display:block;}
/* .text_box{display:none;position:absolute;top:200px;left:0;right:0;}

 */
.filter_bar input[type=text],.bar input[type=text]{display:block;float:left;padding:0 10px;line-height:32px;border-top-left-radius:5px;border-bottom-left-radius:5px;outline-style: none;}
.filter_bar input[type=text] + img,.bar img{width:auto;height:18px;margin:7px;/* background-color:#f3f3f3;border:1px solid #ccc; */border:none;border-radius:30px;cursor:pointer;}
.filter_bar img,.filter_bar i{height:32px;margin:0;padding: 0 6px;/* border-left:1px solid #ccc; */border-radius:0px;color:#fb5f5c;font-size:18px;cursor:pointer;}
.filter_bar i{border-left:none;}
.filter_bar i:before{line-height:32px;}
.bar>.content{display:block;position:static;margin-top:15px;}
.bar>.content:after{content:"";display:block;clear:both;}
.datepicker{margin-bottom:15px;background-color: #f6f6f6;padding:10px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.datepicker:after{content:"";display:block;clear:both;}
.datepicker .left>*, .datepicker .right>*, .datepicker .center>*{overflow:hidden;float:left;margin-right:10px;background-color:#fff;border:1px solid #ccc; border-radius:5px;}
.datepicker .right>div:last-child{margin:0;}
.datepicker .left>*>*, .datepicker .right>*>*{float:left;}
.datepicker input[type=button]{margin:3px 3px;padding:0 5px;background-color:#142c94;border-radius:3px;color:#fff;line-height:26px;font-size:15px;}
.datepicker label ,.datepicker .date_txt{padding:0 5px;line-height:32px;font-size:14px;color:#222;}
.datepicker input[type=text]{width:130px;height:32px;text-align:right;font-size:15px;text-decoration:underline;}
.datepicker img{width:24px;}
.datepicker .search_bth {height:32px;}

.datepicker .date_con{height:26px;}
.datepicker .date_con div.active{display:block;}
.datepicker .date_con img{border-radius:0  !important;}

.datepicker select,.bar select{float:left;height:32px;border:none;;border-radius:5px;}
.datepicker .search,.bar .search{float:right;padding:0 10px;}
.datepicker .search input[type=text],.bar .search input[type=text]{width:184px;border-right:none;}
.datepicker .search img,.bar .search img{display:block;float:left;width:18px;/*background-color:#ccc;*/}
.datepicker .search_bth{float:right;}
.datepicker .search_bth img{display:block;float:left;width:32px;height:32px;margin:0;padding:7px;background-color:#fff;border-radius:0px;box-sizing:border-box;}
.bar_subtitle{margin:8px 4px 8px 9px;padding-right:10px;background-color:transparent;border:none;border-right:1px solid #ccc;border-radius:0;font-size:14px;color:#222;line-height:16px;}
.bar_subtitle + i{margin-right:3px;}

.ui-datepicker {display:none;margin-top:5px;background-color:#fff;border:1px solid #ccc;border-radius:3px;box-sizing:border-box;}
.ui-corner-all {}
.ui-datepicker-header {}
.ui-widget-header {padding:15px 10px;background-color:yellowgreen;}
.ui-helper-clearfix {}
.ui-corner-all {}
a.ui-corner-all{position:absolute;padding:0 5px;line-height:21px;cursor:pointer;}
a.ui-corner-all:hover{background-color:#dadada;border-radius:3px;}
a.ui-corner-all:active{}
a.ui-corner-all span{/* color:transparent; */}
.ui-corner-all.ui-datepicker-prev{left:5px;}
.ui-corner-all.ui-datepicker-next{right:5px;}
.ui-datepicker-title{position:relative;left:50%;width:fit-content;height:21px;margin-left:-60px;line-height:21px;}
.ui-datepicker-title select{width:60px;border:none;border-right:1px solid yellowgreen;vertical-align:middle;}
.ui-datepicker-title select:last-child{border-right:none;}
.ui-datepicker-calendar{width:250px;margin:5px;line-height:36px;}
.ui-datepicker-calendar th,.ui-datepicker-calendar td{border:none;}
.ui-datepicker-calendar thead{background-color:#fff;}
.ui-datepicker-calendar thead th{line-height:21px;}
.ui-datepicker-calendar thead th span{font-size:14px;}
.ui-datepicker-calendar tbody td{padding:0;}
.ui-datepicker-calendar a{display:block;font-size:14px;transition:color .4s ease;}
.ui-datepicker-calendar a:hover{background-color:rgba(128, 0, 128,0.1);/* border-radius:50%; */}
.ui-state-hover{background-color:rgba(128, 0, 128,0.1);}
tr .ui-state-hover:first-child{border-top-left-radius:30px;border-bottom-left-radius:30px;}
tr .ui-state-hover:last-child{border-top-right-radius:30px;border-bottom-right-radius:30px;}
.ui-state-highlight {background-color:rgba(128, 0, 128,0.2);border-radius:50%;}
.ui-datepicker-title span{color:#fff;font-weight:bold;}

.week_list{/* margin-top:15px; */}
.week_list:after{content:"";display:block;clear:both;}
.week_list .tab{}
.week_list .title{height:50px;background:#f7f9fa;border-top:1px solid #dadce0;border-right:1px solid #dadce0;border-bottom:1px solid #1e2c69;border-left:1px solid  transparent;color:#666;}
.week_list .tab:first-child .title{border-left:1px solid #dadce0;}
.week_list .tab .title.active{background-color:#fff;border-color:#1e2c69;border-bottom:#fff;color:#1e2c69;}


.full_bar{position:relative;background-color:rgba(0,0,0,.2);line-height:50px;}
.full_bar:after{content:"";display:block;clear:both;}
.full_bar>*{float:left;}
.full_bar .title{background-color:#1e2c69;border:none;font-size:16px;line-height:50px;}
.full_btn{float:right;width:30px;padding:0 10px;background-color:#1e2c69;text-align:center;cursor:pointer;}
.full_btn img{width:100%;vertical-align:middle;}
.table {padding-top:15px;}
.table thead th{line-height:30px;}
.table tbody td{background-color:#fff;line-height:30px;}

.table .sort_box{display:inline-block;width:30px;margin:0 auto;vertical-align:middle;}
.table .sort_box:after{content:"";display:block;clear:both;}
.table button.btn_sort{display:block;width:50%;margin:0;padding:0px;background-color:transparent;border-radius:0;}
.table button.btn_sort i{display:block;padding:0 2px;line-height:30px;color:#aaa;}

.week-picker{display:none;position:relative;width:260px;}
.week-picker.on{display:block; position:absolute;}
.week img{width:18px;}
.cal_day{display:none;position:relative;width:260px;}
.cal_day.on{display:block; position:absolute;}
.cal_day_div img{width:18px;}

.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all{}


/* member */

.linedwrap {overflow:hidden;height:400px;padding:0;}
.linedtextarea .member_text{/* width:calc(100% - 51px) !important; */height:400px;padding:0 5px;border:none;font-size:14px;line-height:24px;box-sizing:border-box;}
.linedtextarea{border:none;}
.member_text:focus{outline:none;border:none;}
.lineno{background-color:#f1f1f1;font-size:14px;line-height:24px;}

.lineno.lineselect{background-color:#d40000;color:#fff;}
#member_result {float:left;width:1107px;min-height:30px;margin-top:10px;padding:5px;background-color:#eee;border:1px solid #ccc;border-radius:3px;}
#member_result .result_num{display:inline-block;width:fit-content;height:18px;margin-right:3px;padding:0 3px;border-radius:3px;background-color:#d40000;line-height:18px;text-align:center;color:#fff;}
#member_result .result_text{font-weight:bold;}

 

.loading{display:none;position:fixed;top:0;right:0;bottom:0;left:0;background-color:rgba(0,0,0,.7);z-index:0;}
.loading .loader{position:absolute;top:50%;left:50%;width:40px;height:40px;margin-top:-50px; margin-left:-50px;border: 16px solid #f3f3f3;border-top: 16px solid #3498db;border-radius: 50%;animation: spin 1s linear infinite;}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.guide.no_data{padding:200px 0; background-color:#f5f5f5; border:1px solid #ccc; font-size:24px; text-align:center;}





.footer{width:100%;border-top:1px solid #e8e8e9;background-color:#fafafb;}
.footer p{text-align:center;padding:20px 0;}




button {background: none;border: 0;box-sizing: border-box;margin: 1em;padding: 1em 2em;/*box-shadow: inset 0 0 0 2px #f45e61;*/color:#f45e61;font-size: inherit;font-weight: 700;position: relative;vertical-align: middle;}
.draw {transition: color 0.25s;}
.draw::before{top: 0;left: 0;border: 2px solid transparent;width: 0;height: 0;  }
.draw::after{bottom: 0;right: 0;border: 2px solid transparent;width: 0;height: 0; }
.draw:hover {color: #60daaa;}
.draw:hover::before {width: 100%;height: 100%;border-top-color: #60daaa; border-right-color:  #60daaa;transition:width 0.25s ease-out,height 0.25s ease-out 0.25s; }


