.event1 ,.event2, .event3, .event4, .event5, .event6{
    width: 150px; height:150px;
    background-color: darkgreen;  
    margin:10px;
    float: left;
    color:#fff;
    text-align: center;
    line-height: 150px;
}
.ani{
    border-radius: 50%;
    transition: all 1s ease;
}
.event1{transition: all .4s ease;}

.up{
    box-shadow: 0 8px 40px rgba(0,0,0,0.5);  
    transform: translateY(-20px);
}

.hello{
    height:4000px;
}
.event5{
    margin-top: 170px;
    position: fixed;    
}
.color{
    background-color: skyblue;
    transition: all .4s ease;
}

.nav{
    transform:translateX(-400px);
    transition: all .4s ease;
}

.box{
    width:100px; height:100px; 
    background-color:chartreuse;
    float: left;
    margin-top:30px;
    position: relative;
}
