* { margin:0; padding:0; list-style:none; box-sizing:border-box; }

div.container { width:1000px; height:750px; margin-top:-375px; margin-left:-500px; position:absolute; left:50%; top:50%; background-image:url(../images/bg01.jpg); background-repeat:no-repeat; border:1px solid #bbb; border-radius:10px; }

button { margin:10px 0px 0px 10px; width:200px; height:30px; }

ul.icon { width:900px; height:350px; margin:50px auto; }
ul.icon li { float:left; margin:20px 50px; width:125px; height:125px; border:5px solid #fff; border-radius:10px; overflow:hidden; }

ul.enemy { width:900px; height:150px; margin:0 auto; }
ul.enemy li { position:relative; width:260px; height:120px; line-height:120px; text-align:center; float:left; margin:0px 20px; border:5px solid #333; background-color:#fff; opacity:0.7; border-radius:20px; overflow:hidden; }
ul.enemy li img { position:absolute; top:110px; left:0; }