* { margin:0; padding:0; list-style-type:none; }

body {
	background-color: #666;
}

ul.gnb {
	width: 1100px;
	margin: 50px auto;
}

ul.gnb li {
	float: left;
	cursor: pointer;
	width: 200px;
	height: 250px;
	margin: 10px;
	position: relative;
	top: 600px;
}

ul.gnb li h2 {
	background-color: #000;
	color: #fff;
	text-align: center;
	font-size: 14px;
	font-family: 'arial';
	width: 100px;
	margin: 0 auto;
	padding: 10px 0;
	border-radius: 20px;
	position: relative;
	top: 20px;
	opacity: 0;
}

ul.gnb li h2:before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: #000;
	position: absolute;
	top: -20px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

ul.gnb li h2.hover {
	opacity: 1;
	top: 0;
}

ul.gnb li.active {
	background-color: rgba(255,255,255,0.8); 
	border-radius: 40px;
}

h1.title {
	opacity: 0.4;
	color: #fff; 
	font-weight: normal;
	text-align: center;
	font-size: 100px;
	height: 300px;
	line-height: 300px;
	font-family: Impact;
	margin: 60px 0;
}
