<div class="content">page11</div>
<div class="images_list"></div>

<script>

    function doFunction(callback){
        // doFunction 에서 실행 될 내용들
        var a = 1;
        var b = 1;
        var c = a + b;

        alert('doFunction 에서 실행 될 내용이 실행된다.');


        // doFunction 에서 실행 될 내용들이 다 실행 된 후 인자값으로 받은 callback을 실행한다.
        // 넘겨받은 callback이 함수이기 때문에 실행 가능.
        // 이때 c 값을 인자값으로 넘겨준다.
        if(typeof callback === 'function') {
            callback(c);
        }

// 먼저 doFunction을 실행 시키고 callback 함수에 의해 function 안의 내용이 실행된다.
        doFunction(function(msg){

            // doFunction 함수의 호출에 의해서 실행된다.
            // 인자값으로 받은 c값을 msg 로 받는다.
            alert('callback 함수의 실행 될 내용');
            alert('c 의 값은? ' + msg);
        });


//    document.querySelector('.images_list').addEventListener(function() {
console.log('test');

        var num = 20;

        for(var i = 0; i < num; i++){
            j = i+1;
            if(j < 10){
                j = '0'+j
            }
            document.querySelector('.images_list').appendChild(
                create({
                    type:'div',
                    css : {
                        'width':'100px',
                        'height':'100px',
                        'background-image':'url(template/data/page1/'+j+'.png)',
                        'background-size':'cover'
                    },
                }));
        }

        function create (props){
            let ele = document.createElement(props.type);
            ele.textContent = props.content;

            if(props.attr) multiAttr(ele,props.attr);
            if(props.css) multiStyle(ele,props.css);
            if(props.on) multiEvent(ele, props.on);

            return ele;
        }
        function multiStyle(ele, propertyObject){
            for (var property in propertyObject) {
                ele.style[property] = propertyObject[property];
            }
        }
        function multiAttr(ele, propertyObject){
            for (var property in propertyObject) {
                let att = document.createAttribute(property);
                att.value = propertyObject[property];
                ele.setAttributeNode(att);
            }
        }
        function multiEvent (ele,propertyObject){
            for (var property in propertyObject) {
                ele.addEventListener(property,propertyObject[property]);
            }
        }



//    });

</script>



