* { margin:0; padding:0; list-style:none; font-family:arial; }

a { text-decoration:none; color:#555; }

body { background-color:#909eab; }

h1 {
	
	width:1000px; height:100px; line-height:100px;
	margin:0 auto;
	text-align:center;
	font-size:20px;
	color:#eee;
}

nav { width:1000px; margin:0 auto; }

nav ul {

	background: -webkit-linear-gradient(top, #efefef 0%, #bbb 100%);
	border-radius:5px;
	padding-left:30px;
	position:relative;
}

nav ul li { float:left; }

nav ul:after { display:block; content:""; clear:both; }

nav ul li a { padding:18px 30px; display:block; font-size:14px; }

nav ul li:hover {
	
	background:-webkit-linear-gradient(top, #4f5964 0% , #5f6975 40%);
}

nav ul li:hover a { color:#fff; }

nav ul ul { position:absolute; background:#5f6975; 

	border-radius:0;
	padding:0;
}

nav ul ul li {

	float:none;
	border-top:1px solid #6b727c;
	border-bottom:1px solid #575f6a;
	position:relative;
}

nav ul ul li a {

	color:#fff;
	padding:15px 35px;
}

nav ul ul li a:hover { background:#4b545f; }

nav ul ul ul { position:absolute; top:0; left:100%;}

nav ul ul { display:none; }

nav ul li:hover > ul { display:block; }













