*{margin: 0; padding: 0;}
body{background: #f9f9f9;}

.container {width:680px; margin:50px auto;}
.view {width:300px; height:200px; margin:10px;
border:1px solid #fff; float:left; box-shadow:1px 1px 2px #e6e6e6;}

.view:nth-child(2){
	
	background: url(../images/2.jpg);
}

/*기능을 구현하기 위한 css*/
.view{overflow: hidden;}
.view img{
	
	transition: all .4s ease;
}
.view:hover img{ 
	transform:scale(1.2);
}

.view:nth-child(2){
	background-position: center; background-size: 100%;
	transition: all .4s ease;
}
.view:nth-child(2):hover {background-size:120%;}




.view{ position: relative;}

.mask{
	position: absolute; top:0; left:0; width:100%; height:100%;
	overflow: hidden;
	background: rgba(219,127,8,0.7);
}
h2{
	color:#fff; background:rgba(0,0,0,0.4); text-align: center;
	padding: 10px; font-size: 16px; margin-top: 20px; text-transform:uppercase;
}
p{
	font-style: italic; color:#fff; padding:10px 20px 20px; font-size:12px; text-align: center;
}

/*기능을 구현하기 위한 css*/

.view .mask{opacity: 0; transition: all 400ms ease; }
.view:hover .mask{opacity: 1;}
.view .h2{transform: translateY(-100px); transition: all 400ms ease 200ms;}
.view:hover .h2{transform: translateY(0px);}
.view .p{transform: translateY(150px);}
.view:hover .p{transform: translateY(0px);transition: all 400ms ease 600ms; }




