@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700');
@import url('https://fonts.googleapis.com/css?family=Poppins');




/* reset */
*{margin:0;padding:0;box-sizing:border-box;}
html,body{height:100%;font-family:'Nanum Gothic', 'nanumgothic', NG, '나눔고딕', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', Sans-Serif, 'Dotum', '돋움', 'Gulim', '굴림', '굴림체';}
html{overflow-y:scroll;font-size:16px}
body,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ol,ul,li,button,figure,figcaption{margin:0;padding:0;-webkit-text-size-adjust:none;}
body{font-family:sans-serif;color:#444;letter-spacing:-0.05em;line-height:1.3;text-align:center;word-break:keep-all}
button,label{cursor:pointer;}
a{color:#333;text-decoration:none}
a:hover{text-decoration:underline}
address,strong{font-style:normal}
article,aside,figure,figcaption,footer,header,hgroup,main,nav,section{display:block}
button{border:0 none;background:none;cursor:pointer}
h1,h2,h3,h4,h5,h6{font-weight:normal}
hr{display:none}
img{border:0 none;vertical-align:top}
ol,ul, li{list-style:none}
ul:after{content:"";display:none;clear:both;}
button{padding:10px;font-size:0.95rem;}
h1{font-size:3.75rem;font-weight: 600;text-transform: uppercase;}
table{table-layout:fixed;width:100%;border-collapse:collapse;border-spacing: 0;}
em{font-style:normal;vertical-align:top:}

/*common*/
.blind{display:none;position:fixed;top:-100%;left:-100%;}
.cover{display:table;width:100%;height:100vh;}
.cover_inner{display:table-cell;vertical-align:middle;text-align:center;}
.section {/*padding: 60px 150px;*/min-width:1200px;background-color:#fff;font-size: 20px;text-align: center;color: #333;}
.section p {white-space: normal;}
.section h3 {padding-bottom: 30px;}
/*.section .title{font-size:1.5rem;font-weight: 600;}*/
.section h3.title{padding-top:100px;padding-bottom:20px;font-size:2.8rem;font-weight: 600;}
.section p.subtitle{padding-bottom:80px;font-size:1rem;}

.section .core{margin-bottom:30px;font-size:3rem;line-height:1.2;font-weight:500;color:#222;}
.section .desc{word-break: keep-all;font-size: 1rem;line-height: 1.8rem;}
.section .desc, .grid .text_list{margin-bottom:10px;}
.section .text_list li{position:relative;margin-top:10px;padding-left:20px;line-height:1.6rem;font-size:.9rem;}
.section .text_list li:before{position:absolute;top:50%;left:0px;width:10px;height:2px;margin-top:-1px;background-color:rgba(0,0,0,.5);content:"";}
.section .text_list li:after{position:absolute;top:50%;left:0px;width:2px;height:10px;margin-top:-5px;margin-left:4px;background-color:rgba(0,0,0,.5);content:"";}
.left{float: left;}
.right{float:right;}

/*table*/
.sub_title{padding:75px 0 50px 0;}
.sub_title h3{text-align:center;font-size:2.5rem;color:#333;font-weight:bold;}

caption{overflow:hidden;position:absolute;top:0;left:-100%;width:0px;height:0px;line-height:0px;font-size:0px;}
.t_side_info{float:right;font-size:14px;color:#666;padding-bottom:10px;}
table caption{display: none;}
table.type1{border-top:2px solid #333;border-bottom:1px solid #ccc;text-align:right;}
table.type1 thead tr{background-color:#eee;text-align:center;}
table.type1 thead th{color:#333;}
table.type1 th, table.type1 td{height:45px;padding:10px;border-right:1px solid #ccc;font-size:.9rem;color:#666;}
table.type1 thead tr th:last-child, table tbody tr td:last-child{border-right:none;}
.type1 .bg_bg{border-top:1px solid #ccc;}
.type1 .bg_bg td{background-color:#f9f9f9;}
.type1 .bg_bg .b{background-color:#ebf2f7;}
.type1 .th_style{padding-left:25px;}
.type1 td.b{height:45px;padding-right:10px;font-size:.9rem;text-align:left;color:#333;font-weight:bold;}
.table_title{padding-bottom:10px;text-align:left;font-size:1.5rem;color:#333;}
.table_title:nth-of-type(2){padding-top:50px;}
.table_title + div table.type1,.table_title + div table.type1 .b{text-align:center;}

/*input[type=radio],input[type=checkbox]*/
input[type="radio"], input[type="checkbox"]{display:none;position:absolute;opacity: 0;}
input[type="radio"] + label , input[type="checkbox"] + label{display:inline-block;position:relative;padding-left:30px;line-height:20px;vertical-align:middle;cursor:pointer;outline:0;font-size:.9rem;padding-right:10px;}
.form_type01 .txt_box{overflow:auto;idth:100%;height:200px;padding:10px 20px;border:1px solid #ddd;text-align:left;font-size:.9rem;color:#666;}
input[type="radio"] + label:before, input[type="checkbox"] + label:before{content:"";display:inline-block;position:absolute;top:0;left:0;width:20px;height:20px;border:1px solid #dfdfdf;box-sizing:border-box;}
input[type="radio"] + label:before{border-radius:50%;}
input[type="radio"]:checked + label:after, input[type="checkbox"]:checked + label:after{display:block;}
input[type="radio"] + label:after, input[type="checkbox"] + label:after{content:"";display:none;position:absolute;}
input[type="radio"] + label:after{top:5px;left:5px;width:10px;height:10px;border-radius:50%;background-color:#1b2e5a;}

/*input[type="file"]*/
.file_box {position:relative;width:400px; overflow:hidden; display:inline-block; }
.file_box label {height:34px; padding: 0 15px;  background-color:#afafaf; color:#fff; border:none; position:absolute; top:0; right:0; line-height:34px;font-size:.7rem; z-index:1; cursor: pointer;}
.file_box .file_name {padding:6px 15px; background-color:#ddd; border: none; width:320px; height:34px;}
.file_box .file{overflow:hidden; display:none; position:absolute; left:-9999em; width:80px;  height:30px; font-size:45px; opacity:0;  filter:alpha(opacity=0); -ms-filter:alpha(opacity=0); -khtml-opacity:0; -moz-opacity:0;}

/*-------------------------------------------------head.php-------------------------------------------------*/
/*.header{position:relative;}*/
.header {text-align: left;}
.header a{text-decoration:none;}
.header .wrap_inner{position:relative;width:1200px;margin:0 auto;z-index:1;}
.header .wrap_inner:after{content:"";display:block;clear:both;}
.header .logo_wrap{width:1200px;margin:0 auto;}
.header .logo{display:inline-block;position:relative;height:75px;line-height:75px;font-size:2rem;z-index:10;text-transform: uppercase;}
.header .logo:after{content:"";display:block;clear:both;}
.header .header_top{position:absolute;top:0;left:0;right:0;z-index:2;text-align: center;}
.header .header_top:after{content:"";display:block;position:absolute;top:75px;z-index:0;width:100%;height:calc(100% - 75px);border-top:1px solid #ddd;border-bottom:1px solid #ddd;background-color:#fafafa;}
.header .header_top .gnb{float:right;}
.header .header_top .gnb>*{display:block;float:left;}
.header .header_top .gnb>*:after{content:"";display:block;clear:both;}
.header .header_top .header_btn{width:20px;height:20px;margin-top:27px;margin-right:40px;background-size:20px;background-repeat:no-repeat;background-position-y: 0px;}
.header .header_top .gnb>*:last-child{margin-right:0;}
.header .header_top .sitemap{background-image:url(../images/header/btn_sitemap.png);}
.header .header_top .search{background-image:url(../images/header/btn_search.png);}

.header .header_top .gnb ul:after{content:"";display:block;clear:both;}
.header .header_top .gnb ul.depth1 li{float:left;width:125px;line-height:75px;text-align: center;}

.header .header_top .gnb ul.depth1>li>a{display:block;font-weight:bold;font-size:1rem;color:#333;}
.header_top ul.depth2{display:none;height:150px;padding-top:0;padding-bottom:0;margin:40px 0;border-right:1px solid #ddd;}
.header_top ul.depth2>li>a{display:block;font-size:.8rem;color:#666;text-align:center;line-height:2;}

/*header top - function*/
.header_top ul.depth1:hover .depth2{display: block;}
.header .header_top .depth1>li.active>a , .header .header_top a:hover{color:#2c53af !important;font-weight:bold;}



/*header_nav*/
.header .wrap_nav{position:absolute;top:75px;width:100%;background-color:rgba(0,0,0,.6);transition:background-color .3s ease 0s}
.header .wrap_nav:after{content:"";display:block;clear:both;}
.header .wrap_nav .wrap_inner>div{float:left;position:relative;}
.header .wrap_nav a,.header .wrap_nav p{display:block;padding:0 30px 0 15px;border:none;font-size:.9rem;color:#eee;line-height:3rem;cursor:pointer;}
.header .wrap_nav a .blind{display:block;position:static;}
.header .wrap_nav .depth div{position:absolute;right:0;left:0;background-color:rgba(0,0,0,.6);}
/*.header .wrap_nav p{border:none;}*/
.header .wrap_nav .nav{}
.header .wrap_nav .home{width:58px;height:3rem;background-image:url(../images/header/bg_nav_home.png);background-repeat: no-repeat;background-position:center center;border-right:1px solid #666;border-left:1px solid #666;}
.header .wrap_nav .select{min-width:170px;height:48px;background-image:url(../images/header/bg_nav_arrow1.png);background-repeat: no-repeat;background-position:right 15px center;border-right:1px solid #666;line-height:48px;}
.header .wrap_nav .depth a.on{background-image:url(../images/header/bg_nav_arrow1.png);background-repeat: no-repeat;background-position:right 15px center;}
.header .wrap_nav .depth a:hover{background-image:url(../images/header/bg_nav_arrow2.png);background-repeat: no-repeat;background-position:right 15px center;}


/*header_nav function*/
.header .wrap_nav .depth div{display:none;}
.header .wrap_nav .depth.active div{display:block;border-top:1px solid #666;}



.header .visual{overflow:hidden;position:fixed;top:0;right:0;bottom:0;left:0;height:100vh; color:#fff;}


/*swiper*/
.swiper-container {width: 100%;height: 100%;  }
.swiper-slide {
    position:relative;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{bottom:50px;}
.swiper-pagination-bullet{width:60px;border-radius:0;}
.swiper-pagination-bullet-active{background-color:#fff;}
.swiper-pagination-bullet{background-color:#fff;}
.swiper-container .swiper-slide{background-size:cover;background-repeat:no-repeat;/*background-attachment:fixed;*/}
.swiper-container .swiper-slide:nth-of-type(1){background-image:url(../images/main/main_01.jpg);}
.swiper-container .swiper-slide:nth-of-type(2){background-image:url(../images/main/main_02.jpg);}
.swiper-container .swiper-slide:nth-of-type(3){background-image:url(../images/main/main_03.jpg);}
.swiper-container .swiper-slide:nth-of-type(4){background-image:url(../images/main/main_04.jpg);}

/*.header .video_con{position:fixed;z-index:-1;}*/
.header.cover_inner{color:#96eab0;}

/*header main function*/
.header.main{height:100vh;}
.header.main .header_wrap{box-shadow:none;background-color:orange;}
.header.main .header_top{background-color:rgba(8, 21, 28, 0.48);}
.header.main .header_top:after{background-color:transparent;border-top-color:transparent;border-bottom-color:transparent;}
.header.main .header_top .gnb ul.depth1>li>a{color:#fff;}

.header.main.on .logo a{color:#fff;}
.header.main.on .header_top{background-color:rgba(8, 21, 28, 0.48);}
.header.main.on .header_top:after{border-top-color:rgba(255,255,255,0.2);border-bottom-color:rgba(255,255,255,0.2);}
.header.main.on .header_top .gnb ul.depth1>li>a{color:#fff;}
.header.main.on .header_top ul.depth2{border-right-color:rgba(255,255,255,0.2);}
.header.main.on .header_top ul.depth2 a{color:#fff;}
.header.main .header_top .depth1>li.active>a, .header.main .header_top a:hover{color:#fff !important;}
{color:#fff;}
/*.header.main.on .header_top .header_btn{background-position-y:0px;}*/
.header.main .header_top .header_btn{background-position-y:-20px;}

/*.header.main .header_top .gnb a{color:#fff;}*/
.header.main a{color:#fff;}
.header.main .wrap_nav{display:none;}
/*header script function*/
.header.fixed .wrap_nav{position:fixed;top:0;right:0;left:0;background-color:#1c2f59;z-index:10;}
.header.fixed .wrap_nav .depth div{background-color:#1b2e59;}


.main_img_contens{position:fixed;top:50%;left:50%;margin-top:-210px;margin-left:-350px;width:700px;text-align:left;z-index: 100;}
.main_img_contens p{color: #fff;}
.main_img_contens .main_title{font-size: 3rem;font-weight: bold;line-height: 1.8;}
.main_img_contens .main_tex{margin-top:30px;font-size:.9rem;color:#e4e4e4;line-height: 1.3;text-align: justify;}
.main_img_contens .img_desc{font-size:6rem;line-height:1;color:#fff;text-transform: uppercase;font-family: 'Poppins', sans-serif;
    font-weight:bold;}
.main_img_contens button{float:right;margin-top:2rem;padding:10px 30px;background-color:transparent;border:2px solid #fff;color:#fff;font-size: 1.1rem;text-transform: uppercase;}
.main_img_contens button:hover{background-color:#1b2e59;border:2px solid #1b2e59;color:#fff;}



.container.main{position:relative;}


/*-------------------------------------------------contents top images -------------------------------------------------*/

.business .visual{background-image:url(../images/business/business_sub_top.png);}
.inquiry .visual{background-image:url(../images/business/business_sub_top.png);}
.list_page .visual{background-image:url(../images/business/business_sub_top.png);}
.credit_ratingdo .visual{background-image:url(../images/business/business_sub_top.png);}
.contact .visual{background-image:url(../images/business/business_sub_top.png);}





/**/
.visual_mask{min-width:1200px;margin:0 auto;}
.visual_mask img{width:100%;height:auto;}
.visual_mask .swiper-container{overflow:initial;}


.visual_mask .swiper-wrapper{position:relative;margin:25px 0 70px;}
.visual_mask .swiper-pagination{position:static;}
.visual_mask .swiper-pagination-bullet{width:220px;height:52px;background-color:#fff;border:1px solid #b5b5b5;color:#222;line-height:52px;opacity:1;}

.visual_mask .swiper-pagination-bullet-active{background-color:#1b2e59;border-color:#1b2e59;color:#fff;}
.visual_mask .swiper-container .swiper-slide{}
.visual_mask .swiper-container .swiper-slide:nth-of-type(1){background-image:url(../images/main/mask_visual01.png);}
.visual_mask .swiper-container .swiper-slide:nth-of-type(2){background-image:url(../images/main/mask_visual02.png);}
.visual_mask .swiper-container .swiper-slide:nth-of-type(3){background-image:url(../images/main/mask_visual03.png);}
.visual_mask .swiper-container .swiper-slide:nth-of-type(4){background-image:url(../images/main/mask_visual04.png);}
.visual_mask .swiper-container .swiper-slide:nth-of-type(5){background-image:url(../images/main/mask_visual05.png);}


/*aboutCompany*/
.aboutCompany:after{content:"";display:block;clear:both;}
.aboutCompany .left{width:35%;background-color:#2c53af;}
.aboutCompany .left ul li{border-top:1px solid #426cb2;}
.aboutCompany .left ul li:first-child{height:270px;background-image:url("../images/main/aboutc_bg.png");background-repeat:no-repeat;background-position:center center;border-top:none;}
.aboutCompany .left a{display:block;color:#fff;text-align:right;padding:35px 50px;}
.aboutCompany .left .years{display:block;font-size:70px;}
.aboutCompany .left .m_title{display:block;font-size:22px;padding-bottom:20px;}
.aboutCompany .left .txt{display:block;font-size:14px;line-height:22px;}

.aboutCompany .right{float:right;width:65%;height:596px;padding:75px 60px;background-color:#f5f5f5;}
.aboutCompany .right .cover{height:100%;}
.aboutCompany .right .cover_inner{text-align:left;}
.right .news{width:100%;}
.right .news .n_title1{font-size:22px; color:#666; padding-bottom:30px; }
.right .news .n_title1 span{font-size:22px; color:#333; position:relative; vertical-align:top; padding-right:10px; margin-right:10px;}
.right .news .n_title1 span:after{content:''; width:1px; height:10px; background:#666; display:inline-block; position:absolute; right: 0; top:50%; margin-top:-5px; }
.right .news ul{overflow: hidden;margin-left:-15px;margin-right:-15px;}
.right .news ul li{overflow: hidden;float:left; position:relative;width:50%;height: 200px;padding:0 15px;}
.right .news ul li>div{width:100%;height:100%;border:1px solid #ddd; background:#fff;}
/*.right .news ul li:first-child{margin-right:35px; }*/
.right .news ul li a{display:block; color:#666;}
.right .news ul li .n_title2{display:block;  color:#333; padding:30px 0px 25px; font-size:18px; font-style:normal;  overflow: hidden;  text-overflow: ellipsis;  white-space: nowrap;  word-break: break-all; }
.right .news ul li p{margin:0 25px; height:65px; font-size:14px; line-height:22px; overflow: hidden;  text-overflow: ellipsis; position:relative;}
.right .news ul li p:before{/* content:'...'; width:18px; text-align:center; background:#fff; z-index:100; display:inline-block; position:absolute; bottom:0; right:0; */}
.right .news ul li p:after{display:inline-block;background:#fff;width:300px;height:20px; position:absolute; content:'';}
.right .news ul li .date{display:block;position:absolute;right:15px;bottom:0;left:15px;font-size:14px; border-top:1px dotted #ddd; padding: 10px 25px; color:#666;}
.right .icon_menu{width:100%;}
.right .icon_menu ul{position:relative;width:100%; padding-top:40px; }
.right .icon_menu ul li{ height:100px;}

.right .icon_menu ul li:first-child{float:left;}
.right .icon_menu ul li:nth-child(2){position:absolute;left:50%;margin-left:-90px;/*transform:translateX(-50%);*/}
.right .icon_menu ul li:last-child{float:right;}
.right .icon_menu ul li a{display:block; color:#666; padding: 17px 0 0 90px; width:100%; height:100%; background-position: 0 50% ; background-repeat:no-repeat;}
.right .icon_menu ul li:nth-child(1) a{ background-image:url("../images/main/menu_icon1.png");}
.right .icon_menu ul li:nth-child(2) a{ background-image:url("../images/main/menu_icon2.png");}
.right .icon_menu ul li:nth-child(3) a{ background-image:url("../images/main/menu_icon3.png");}
.right .icon_menu ul li a em{font-style:normal; color:#333; font-size:20px; }
.right .icon_menu ul li a p{color:#666; font-size:14px; }
/*-------------------------------------------------main.php-------------------------------------------------*/

/*intro*/
.section.intro {background-color:#262875;color:#fff;}

/*portfolio*/
.portfolio_wrap {padding:6.25rem 0 0;background: #eee;}
.content {margin: 0 auto;overflow: hidden;}
.content li {visibility: hidden; float: left;margin: 40px 25px;width: calc(33.33% - 50px);height: 482px;background: #ccc;opacity: 0.5; transform: scale(0.9,0.9);}
.content li a {color: #000;}
.content_text {padding: 30px 40px;background: #fff;}
.content_text h4 {margin-bottom: 18px;color: #8d6e3e;font-size: 16px;letter-spacing: 0.2rem;}
.content_text p {font-size: 18px;}

/* content event */
.content li:hover {box-shadow: 0px 10px 20px #ccc;transition-duration: .2s;transform: translateY(-10px);}
.content.on li {visibility: visible;transform: scale(1,1);transition: all .4s ease-in-out;opacity: 1;}
.content.off li {visibility: hidden;transform: scale(0.3,0.3);transition: all .4s ease-in-out;opacity: 0;}


/*business */

.visual{width:100%;min-width:1200px;height:400px;background-size:cover;background-repeat:no-repeat;}
.visual .cover{height:100%;}
.visual h2{margin-top:-12.5px;font-size:2.1rem;color:#fff;font-weight:bold;}
.visual h2:after{content:"";display:block;width:20px;height:1px;background-color:#fff;margin:15px auto;}
.visual p{font-size:1rem;color:#fff;}

.content_wrap {width:1200px;padding: 0 50px 100px 50px;margin:-75px auto 0;background-color:#fff; }
.tabs {position:relative;}
.tabs>h3{display:inline;position:absolute;top:0;left:0;height:75px;padding:27px 10px;border-bottom:1px solid #ddd;font-size:1rem;color:#666;text-align:center;cursor:pointer;}
.tabs>h3.active{font-weight:bold;border-bottom:2px solid #333;color:#333;}
.tabs>h3.active:after{content:"";display:block;position:absolute;top:100%;left:50%;margin-left:-7px;border:7px solid transparent;border-top-color:#000;z-index:1;}

.tabmenu{display:none;padding-top:75px;}
.tabs>h3.active + .tabmenu{display:block;}
.tabmenu .tab_inner{}


/*-------------------------------------------------business.php-------------------------------------------------*/

.business .tabs>h3{width:16.66%;}
.business .tabs>h3:nth-of-type(1){left:0;}
.business .tabs>h3:nth-of-type(2){left:16.66%;}
.business .tabs>h3:nth-of-type(3){left:33.32%;}
.business .tabs>h3:nth-of-type(4){left:49.98%;}
.business .tabs>h3:nth-of-type(5){left:66.64%;}
.business .tabs>h3:nth-of-type(6){left:83.3%;}

.img_info{width:100%;height:270px;margin-top:40px;border:1px solid #ddd;}
.img_info:after{content:"";display:block;clear:both;}
.img_info>div{float:left;width:50%;height:100%;}
.img_info .cover{height:100%;}
.img_info .cover_inner{text-align:left;}
.img_info h3{padding-bottom:20px;font-size:1.5rem;font-weight:bold;}

.img_wrap{background-color:#eee;}
.info_wrap{padding:0 35px;box-sizing:border-box;}

.list_business_wrap{height:100%;padding-top:50px;}
.list_business_wrap ul{overflow:hidden;padding-bottom:30px;box-sizing:border-box;}
.list_business_wrap ul:after{content:"";display:block;clear:both;}
.list_business_wrap li{float:left;width:180px;height:180px;padding-top:56px;border-top:2px solid #333;border-right:1px solid #ddd;border-bottom:1px solid #ddd;color:#333;font-size:1.2rem;text-align:center;letter-spacing:-1px;}
/*.list_business_wrap li{visibility: visible;margin:0;background:none;opacity: 1;transform: none;}*/
.list_business_wrap ul li:first-child{width:185px;padding-top:125px;border-left:1px solid #ddd;background-color:#f8f8f8;background-image:url(../images/business/b_list_icon1.png);background-repeat:no-repeat;font-size:1rem;font-weight:bold;}
.list_business_wrap ul.polymer li:first-child{background-position:50% 45px;}
.list_business_wrap ul.chemistry li:first-child{background-position:50% -170px;}
.list_business_wrap ul.polyimide li:first-child{background-position:50% -370px;}
.list_business_wrap ul.distribution li:first-child{background-position:50% -590px;}
.list_business_wrap ul.vessel li:first-child{background-position:50% -805px;}
.list_business_wrap ul.build li:first-child{background-position:50% -1015px;}
.list_business_wrap ul.architecture li:first-child{background-position:50% -1225px;}
.list_business_wrap ul.it_service li:first-child{background-position:50% -1435px;}
.list_business_wrap ul.development_work li:first-child{background-position:50% -1645px;}
.list_business_wrap button{display:block;margin:10px auto;padding:5px 15px;border:1px solid #bbb;color:#333;font-size:.9rem;}


/*-------------------------------------------------credit_ratingdo.php-------------------------------------------------*/


.credit_ratingdo .tabs>h3{width:33.33%;}
.credit_ratingdo .tabs>h3:nth-of-type(1){left:0;}
.credit_ratingdo .tabs>h3:nth-of-type(2){left:33.33%;}
.credit_ratingdo .tabs>h3:nth-of-type(3){left:66.66%;}


/*-------------------------------------------------list_page.php-------------------------------------------------*/

.bar{padding-top:30px;}
.bar:after{content:"";display:block;clear:both;}
.select{min-width:100px;height:34px;padding-left:5px;border:1px solid #b8c2cc;font-size:1rem;color:#666;line-height:34px;vertical-align:top;box-sizing:border-box;}
.search_text{width:260px;height:34px;margin:0 6px;padding:0 10px;border:1px solid #b8c2cc;font-size:.9rem;vertical-align:top;box-sizing:border-box;}
.search_btn{width:80px;height:34px;padding:0;border:none;background-color:#4c4c4d;color:#e0e0e0;line-height:34px;vertical-align:top;cursor:pointer;}


/*table type2*/
.board_table{margin-top:30px;border-top:3px solid #1b386e;}
table.type2{text-align: left;}
.type2 a{text-decoration:none;}
.type2 tr{cursor:pointer;}
.type2 td{padding:5px 0;border-bottom:1px solid #b8c2cc;}
.type2 .num{letter-spacing:0;padding-left:10px;padding-right:65px;font-size:1rem;color:#1b386e;font-weight:bold;}
.type2 .icon.new{display:inline-block;width:22px;height:22px;background-color:#ff4e42;margin-left:5px;margin-top:-2px;vertical-align:top;text-align:center;line-height:22px;color:#fff;font-size:.9rem;font-weight:bold;}
.type2 .down a{display:block;position:relative;width:76px;height:34px;line-height:34px;box-sizing:border-box;}
.type2 .down a span{display:inline-block;width:41px;padding-right:2px;text-align:right;font-size:.9rem;box-sizing:border-box;}
.type2 .down a:after{content:"";position:absolute;top:0;right:0;width:35px;height:34px;background:url(../images/down.png) no-repeat 0px -4px;}
.type2 .date{padding-left:38px;padding-right:10px;}
.type2 .double{}
.type2 .double_row{display:table-row;border-bottom:1px solid #b8c2cc;line-height:26px;}
.type2 .double .double_row:last-of-type{border-bottom:none;}
.type2 .double_row .cell{display:table-cell;}
.type2 .double span{display:inline-block;min-width:55px;margin-right:8px;font-size:.9rem;}
.type2 .double em{font-size:.9rem;color:#999;}

.type2 tr:hover td a{text-decoration:underline;}
.type2 tr:hover td.down a{text-decoration:none;}
.type2 tr:hover td.down a:after{background:url(../images/down.png) no-repeat 0px -44px;}
.type2 tr:hover td.down a span{background-color:#2e416b;color:#fff;}

.paging{width:100%;padding-top:30px;text-align:center;}
.paging a{display:inline-block;width:38px;height:38px;border:1px solid #dadce0;vertical-align:middle;font-size:.9rem;line-height:38px;box-sizing:border-box;}
.paging a:hover, .paging a.on{background-color:#4173d1;border:none;color:#fff;}
.paging .first{background:url(../images/paging.png) no-repeat 0px 0px;border:none;}
.paging .prev{background:url(../images/paging.png) no-repeat -38px 0px;border:none;}
.paging .next{background:url(../images/paging.png) no-repeat -76px 0px;border:none;}
.paging .last{background:url(../images/paging.png) no-repeat -114px 0px;border:none;}





/*--------------------------------------------inquiry.php--------------------------------------------*/
.form_type01 .sub_content{padding-bottom:30px;}
.form_type01 .input_box{padding-bottom:30px;}
.form_type01 h4{padding-bottom:15px;font-size:1.5rem;color:#333;text-align:left;}
.form_type01 .check_txt{font-size:.9rem;color:#666;text-align:right;}
.form_type01 .check{display:inline-block;width:20px;height:20px;margin-left:-20px;background:url(../images/header/check_point.png) no-repeat center bottom}
.form_type01 table{width:100%;}
.form_type01 table tbody{border-top:1px solid #333;}
.form_type01 table tr{border-bottom:1px solid #ddd;}
.form_type01 table th{padding:12px 40px;background-color:#f7f7f7;border-right:1px solid #ddd;font-size:.9rem;text-align:left;}
.form_type01 td{padding:12px 0 12px 20px;font-size:.9rem;color:#666;line-height:20px;text-align:left;}

.form_type01 table th label{font-size:.9rem;color:#333;}
.form_type01 input[type="text"], .form_type01 textarea{width:100%;height:34px;padding-left:15px;border:1px solid #ddd;font-size:14px;line-height:20px;}
.form_type01 textarea{height:170px;padding-top:7px;resize:none;}
.form_type01 input.input_width01 {width:150px;}
.form_type01 .select_box{display:inline-block;position:relative;min-width:120px;height:34px;margin-left:10px;vertical-align:top;}
.form_type01 .select_box a{text-decoration: none;}
.form_type01 .select_box .select{display:block;height:34px;padding:0 15px;background:url(../images/header/bg_nav_arrow1.png)no-repeat right 10px center;font-size:.9rem;color:#666;text-overflow:ellipsis;white-space:nowrap;word-break:break-all;border:1px solid #ddd;line-height:34px;}
.form_type01 .select_box>a:after{content:"";display:inline-block;position:absolute;top:50%;right:30px;margin-top:-7px;width:1px;height:14px;background-color:#ddd;}
.form_type01 .select_box ul{display:none;position:absolute;top:100%;width:100%;background-color:#fff;}
.form_type01 .select_box.active ul{display:block;}
.form_type01 .select_box li{border:1px solid #ddd;border-top:none;}
.form_type01 .select_box li a{display:block;overflow:hidden;padding:0 15px;font-size:.9rem;color:#666;line-height:30px;text-overflow:ellipsis;white-space: nowrap;word-break: break-all;}



.form_type01 input[type="radio"]{}
.form_type01 .txt_checkbox{float:right;padding:20px;}
.form_type01 .btn_wrap{text-align:center;clear:both;}
.form_type01 .btn{padding:8px 35px;font-size:.9rem;}
.form_type01 .btn_color01{margin-right:10px;border:1px solid #999;background-color:#fff;}
.form_type01 .btn_color02{border:1px solid #1e305c;background-color:#1e305c;color:#fff;}


/*--------------------------------------------sitemap.php--------------------------------------------*/
.sitemap .content_wrap{margin-top:0;}
.sitemap .sub_title h2{color:#333;font-size:2.7rem;font-weight:bold;}
.wrap_sitemap {overflow:hidden;text-align:left;}
.wrap_sitemap h4{font-weight:bold;}
.cell_sitemap {float:left;margin:0 0 0 60px;padding:0 0 60px;width:326px;border-top:2px solid #2c53af;min-height:260px;}
.cell_sitemap:first-child {margin:0;}
.stit_sitemap {padding:17px 0 14px 20px;font-size:20px;line-height:1;color:#2c53af;border-bottom:1px solid #dddddd;}
.list_sitemap {padding:0 0 0 20px;}
.list_sitemap > li {margin:20px 0 0;font-size:15px;line-height:1;}
.list_sitemap > li > a {font-size:15px;color:#333333;font-weight:bold;letter-spacing:-.05em;}
.list_2dpt_sitemap > li {margin:10px 0 0;}
.list_2dpt_sitemap > li:before {content:'-';display:inline-block;margin:0 2px 0 0;vertical-align:middle;}
.list_2dpt_sitemap > li > a {font-size:14px;color:#2c53af;font-weight:bold;}
.cell_sitemap.wide .list_sitemap {float:left;margin:0 0 0 40px;}
.cell_sitemap.wide .stit_sitemap + .list_sitemap {margin:0;}

/*--------------------------------------------contact.php--------------------------------------------*/

/*page01*/
.contact{text-align:left;}
.tabs_type01{overflow:hidden;border:1px solid #ddd;text-align:center;}
.tabs_type01 a{display:block;float:left;width:50%;height:50px;border-bottom:2px solid #333;font-size:1rem;line-height:50px;color:#666;text-decoration:none;}
.tabs_type01 a.active {background-color:#333;color:#fff;}
.tit_cont{margin-top:50px;font-size:1.5rem;font-weight:bold;line-height:1.2;color:#333;}
.txt_list{margin-top:18px;letter-spacing:0px;text-align:justify;}
.txt_list li{margin-left:8px;font-size:.9rem;line-height:1.6;color:#666;}
.txt_list li:before{content:'';display:inline-block;width:2px;height:2px;margin:0 6px 0 -8px;vertical-align: middle;background-color:#666;}
.txt_blue{color:#2951ae;}




/*--------------------------------------------search.php--------------------------------------------*/






/*-------------------------------------------------tail.php-------------------------------------------------*/



/*main content footer nav*/
.cont_nav{width: 100%; background: #353535; padding: 40px 0 45px;text-align: left;}
.cont_nav .c_nav1{margin: auto; width: 1200px;}
.cont_nav .c_nav1:after{content:''; display: block; clear: both;}
.cont_nav .c_nav1 > li{float:left;width: 25%;padding-left: 80px;}
.cont_nav .c_nav1 > li:first-child{margin-left: 0;}
.cont_nav .c_nav1 > li > a{display: inline-block; padding-left: 10px; font-size: 18px; color:#d6dce6;}
.cont_nav .c_nav1 > li > span{width:12px; height:2px; display: block; margin:15px 0 15px 11px; font-size: 14px; background:#d6dce6;}
.cont_nav .c_nav2 > li > a{display: inline-block; line-height: 22px; padding-left: 10px;  font-size: 13px; color:#a2a9b3;}


.footer {width:100%; background-color:#323b4a;}
.footer.main {position: relative; background-color:#282828;}
.footer .inner_wrap {margin:0 auto; width:1180px; position:relative;}
.footer .link{width: 833px; margin: auto; padding: 35px 0; border-bottom: 1px solid #424a58; position:relative;}
.footer.main .link{padding: 35px 0 20px;}
.footer.main .link{border-bottom:none;}
.footer.main .link .wrap_family_site{bottom:60px;}
.footer .link:after{content:''; display: block; clear: both;}
.footer .link .footer_list{float:left;}
.footer .link .footer_list li{display: inline-block;}
.footer .link .footer_list li:first-child{font-weight:bold;}
.footer .link .footer_list li:first-child a{color:#fff;}
.footer .link .footer_list li:after{content:'\00B7';padding:0 10px;color:#a2a9b3;}
.footer .link .footer_list li:last-child:after{display:none;}
.footer .link .footer_list li a{font-size: 12px;color:#a2a9b3;}
.footer.main .link .footer_list li:nth-child(1) a{color:#fff;}
.footer .link .wa_mark{position:relative;float:left;margin:-7px 0 0 12px;}
.footer .link .wa_mark img{width:55%;height:auto;}
.footer .link .btn_family_site{display:inline-block; width:162px; height: 37px; font-size:12px; text-align: center; line-height: 37px; background:#222936; color:#a2a9b3; position:absolute; right:0; top:25px;text-decoration:none;}
.footer.main .link .btn_family_site{ background:#333;}
.footer .link .btn_family_site span{display: inline-block; width: 34px; height: 36px; float:right; border-left: 1px solid #2e3440; background-position:50% 50%; background-repeat:no-repeat;}
.footer .link .btn_family_site .off{background-image:url("../images/plus.png") ;}
.footer .link .wrap_family_site {display:none; position:absolute; z-index:1000;  right:0; bottom:75px; padding:6px 13px; width:162px; border:1px solid #ddd; background-color:#fff;}
.footer .link .wrap_family_site > ul > li {padding:9px 0; border-bottom:1px solid #ddd;}
.footer .link .wrap_family_site > ul > li:last-child {border:0;}
.footer .link .wrap_family_site > ul > li > .title {margin-left:-5px; font-size:13px; color:#333;}
.footer .link .wrap_family_site > ul > li > .title a {font-size:13px; color:#333;}
.footer .link .wrap_family_site > ul > li > ul > li > a {font-size:13px; color:#666;}
.footer .copyright {padding:30px 0 40px; line-height:1.6;}
.footer .copyright p {font-size:12px; color:#a2a9b3; text-align:center;}
.footer .copyright p span {margin-left:20px; font-family:"NotoSansKR Light";}
.footer .copyright p span:first-child {margin-left:0;}
.footer .top_btn a{transition:0.5s; display:block; position:fixed; z-index:1000; bottom:50px; right:100px; width:55px; height:57px; background:url("/ko/pc/assets/images/common/top_btn.png") 50% 50% no-repeat; }
.footer .top_btn a:hover,
.footer .top_btn a:focus{ background:url("/ko/pc/assets/images/common/top_btn_over.png") 50% 50% no-repeat; }

.footer .link .f_select.active .wrap_family_site{display:block;}