*{margin: 0; padding: 0;}
li{list-style: none; color:#444;}
a{text-decoration: none; color: #444;}

/*common*/
.wrapper{width:1200px; margin: 0 auto;}
body{background-color: #f1f1f1;}
/*header*/
.header{background-color: #fff; border-bottom: 1px solid #ddd;}
.header .top{height: 60px; border-bottom: 1px solid #ddd;}
.header .nav{height:100px;}

.top .top_left{float: left;}
.top .top_left .left_menu{float: left; font-size: 10px; color:#999; line-height: 60px; border-right: 1px solid #ddd; padding: 0 30px; }
.top .top_left .left_menu.contact{border-left: 1px solid #ddd;}
.top .top_left .left_menu span{color:#444; font-size: 12px;font-weight: bold; text-transform: uppercase;}

.top .top_right{float: right;}
.top .top_right li{float: left; font-size: 12px; font-weight: bold; line-height: 60px; padding: 0 30px; color: #444; border-left: 1px solid #ddd;}
.top .top_right li:last-child{border-right: 1px solid #ddd;}

/*nav*/
h1{float:left; text-align: center; width: 50px; border: 3px solid #000;  font-size: 16px; letter-spacing: 2px; padding:10px;  margin:16px 0;  }
.menu{float:right; height:100px; position: relative;}
.menu li{float: left;  height: 100%;}
.menu li a{display: block;height: 34px; text-transform: uppercase; font-size: 12px; font-weight: bold; line-height: 34px;  padding: 0px 15px; ; margin: 33px 0px; border-radius: 20px; transition: all .3s ease;}
.menu li:hover a{background-color:yellowgreen; color:#fff; }
/* .menu li a:hover {background-color:yellowgreen; color:#fff; } */
.search{float:right; line-height: 100px; margin-left: 15px; width: 15px; }


/*sub*/
/*.menu li.active a{background-color: yellowgreen; color: #fff;}*/


.sub{ width:800px; height:300px; background-color: #fff; position: absolute; top: 100%; right: -30px; border-top: 3px solid yellowgreen; border-bottom-left-radius: 5px;border-bottom-right-radius: 5px; box-shadow: 0px 1px 5px rgba(0,0,0,0.07); /*display: none;*/}

/*.menu li:hover + .sub{display: block;}*/


/*기능*/
/* .sub { top:110%; opacity: 0; } */

.sub {visibility: hidden; opacity: 0; transform: translateY(30px); transition: all .3s ease; }
.sub.active {visibility:visible; opacity: 1; transform: translateY(0px);}
.drop a{transition: all .5s ease; }
.drop a.on{ background-color: yellowgreen; color: #fff;}
