<div>page1</div>
<!--<div class="images_list"></div>-->
<!--<script>-->
    <!--var num = 20;-->

    <!--for(var i = 0; i < num; i++){-->
        <!--j = i+1;-->
        <!--if(j < 10){-->
            <!--j = '0'+j-->
        <!--}-->
        <!--$('.images_list')-->
            <!--.append(-->
                <!--$('<div>'+j+'</div>'-->
                <!--).css({-->
                    <!--'width':'100px',-->
                    <!--'height':'100px',-->
                    <!--'background-image':'url(template/data/page1/'+j+'.png)',-->
                    <!--'background-size':'cover'-->
        <!--}));-->
    <!--}-->

<!--</script>-->