/* 변형 css3 */

.box{
   
    width:100px; height:100px;
    background: green;
    margin: 50px;
    border:none;
    
    /* 2D 변형 (,를 쓸수 없음) */
	/*모바일에서 더 부드러움 ex8에서는 안됨*/
	
    transform:rotate(30deg);
    transform:scale(1.5); /*1이 100%크기*/
    transform: translate(50px,100px);/*위치 이동.가로열,세로열*/
    transform: translate(100px,100px) rotate(45deg) scale(1.5);/*순서가 중요, 자기자신을 기준으로 순차적으로 적용됨*/

    
    /* transition (,사용가능) - 변화, 이해, 전개, 이행단계 
        해당 태그가 바뀌는 과정을 눈으로 보여주는 기능 ( 애니메이션 )
    */

    transition-property: background,border-radius;
    transition-duration: 3s,2s;
    transition-timing-function:linear,ease;/*속도조절*/
    transition-delay: 2s,6s;
    
    transition: all 2s ease 1s;
        
    transition: background 3s linear 2s, transform 3s ease 1s, border-radius 3s linear;

}

.box:hover { 
    transform: translate(100px,100px) rotate(-360deg) scale(1.5);
    border-radius: 50%; 
    background:coral;}

/*기능 만들기 위한 css*/

.nemo{
	
	width:200px; height:200px; background: green;
	margin:200px;
	
	transition: all 2s linear;
}

.nemo:hover{
	width:300px; height:300px;
	border-radius: 50%;
	background: pink;
}
