*{margin:0;padding:0;}
body{background-color:rgba(17,104,105,1);}
ul,li{list-style: none;}
.text_animation{position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);}
.text_animation li{display:inline-block;margin-right:5px;font-family: sans-serif;font-weight:300;font-size:5rem;color:#70e1e2;opacity: 1;transition:all 2.5s ease;}
.text_animation li:last-child {margin-right:0;}
.text_animation.hidden{opacity: 0;}




.text_animation.hidden li:nth-child(1){transform:translate(-200px, -200px);}
.text_animation.hidden li:nth-child(2){transform:translate(20px, 100px);}
.text_animation.hidden li:nth-child(3){transform:translate(-150px, -80px);}
.text_animation.hidden li:nth-child(4){transform:translate(10px, -200px);}
.text_animation.hidden li:nth-child(5){transform:translate(-300px, -200px);}
.text_animation.hidden li:nth-child(6){transform:translate(20px, -20px);}
.text_animation.hidden li:nth-child(7){transform:translate(30px, 200px);}
.text_animation.hidden li:nth-child(8){transform:translate(-200px, -200px);}
.text_animation.hidden li:nth-child(9){transform:translate(20px, -100px);}
.text_animation.hidden li:nth-child(10){transform:translate(-150px, -80px);}
.text_animation.hidden li:nth-child(11){transform:translate(10px, -200px);}
.text_animation.hidden li:nth-child(12){transform:translate(-300px, 200px);}

